[2018-09-26 14:29] ribose-jeffreylau opened #1 "Metadata doesn't seem to manifest themselves in output files"
Running metanorma-docker would seem to make metadata disappear in the produced files.

## Steps to reproduce

From Windows, PuTTY into a macOS terminal session, then clone https://github.com/calconnect/vcard and then `cd` into `csd/datetime-explicit/`.  Then run:

[code]

## Results

The produced files do not contain things like document title, the document number gets replaced by "99999", etc.

#

[2018-09-26 14:34] ribose-jeffreylau opened #2 "Clarify the validity of the produced Word document"
It needs to be made clear that the Word document produced is a valid MHT Word document which is fully supported by Windows.

Perhaps in the README somewhere.

[2018-09-26 14:37] ronaldtse commented on #1
Thanks for the report. I feel that the Putty terminal is doing something funny with “pwd” for volume sharing?

Could you run the docker container (in the Mac via the session) with bash, enter it, and run Metanorma inside the container against the same files?

[2018-09-26 14:38] ronaldtse commented on #2
Thanks @ribose-jeffreylau!

@opoudjis thoughts on where it should go?

[2018-09-26 15:12] ribose-jeffreylau commented on #2
It's been reported that both Apple's version of "Word" (aka Pages) and LibreOffice would view the produced `.doc` file as "invalid".  This may also need clarification.

[2018-10-09 22:37] opoudjis commented on #2
Documentation done in https://github.com/riboseinc/metanorma-iso/issues/220, as https://github.com/riboseinc/metanorma-iso/blob/master/docs/outputs.adoc . @ronaldtse, I leave the decision to you about how to incorporate this documentation into metanorma-docker, if at all.

[2018-10-13 06:47] ronaldtse commented on #2
Is this a StanDoc issue, an ISO issue or a generic Metanorma issue? We should move the documentation to the right place(s). It’s definitely not a docker issue, so we are closing this here.

[2018-10-13 06:47] #2 closed

[2018-10-13 11:33] opoudjis commented on #2
Generic Metanorma.

[2019-02-11 09:15] strogonoff opened #3 "Why is this not recommended on macOS?"
Is there a reason this repository recommends to use a script on macOS?

My concerns, as a user:

- First, it’s generally not the greatest idea to pipe curl’ed script into bash on local machine from security standpoint.

- Second, I see how [that script](https://github.com/riboseinc/metanorma-macos-setup/blob/master/mac) is silently doing many things I would really prefer it not to, such as making

[2019-02-11 10:09] ronaldtse commented on #3
@strogonoff ,

1. On macOS, we should recommend using either the Homebrew setup (https://github.com/riboseinc/homebrew-metanorma/) or the Docker setup. We should no longer recommend the "macOS setup script".
2. The Docker setup is mainly for a platform independent way of running Metanorma. From my experience with Metanorma users, they mostly prefer "installing" something rather than running Docker

[2019-02-11 10:10] ronaldtse commented on #3
3. And on Windows, we recommend using the Chocolatey package (https://github.com/riboseinc/chocolatey-metanorma/)

[2019-02-11 16:53] strogonoff commented on #3
Awesome, noted

[2019-02-16 01:36] #3 closed

[2019-02-16 01:49] strogonoff commented on #3
@ronaldtse can you confirm that instructions [here](https://www.metanorma.com/author/topics/install/) are valid for Windows as far as Chocolatey goes?

The blog post is a bit hazy on the installation command; from a quick search it seemed that `choco install` is the way to go

[2019-02-16 01:57] ronaldtse commented on #3
@strogonoff you caught this in an inconvenient time 😉

The installation command: `choco install metanorma -y` (remember the `-y`) will work -- once the latest Chocolatey Metanorma package (1.1.4) is approved (https://github.com/riboseinc/chocolatey-metanorma/pull/16). However, it has just run into an issue and will take a few more days.

The latest release of the Chocolatey Metanorma package (1.1.

[2019-02-16 01:58] ronaldtse commented on #3
(And we don't need the Metanorma Windows install script anymore, https://github.com/riboseinc/metanorma-windows-setup )

[2019-02-16 02:00] strogonoff opened #4 "Is a PlantUML installation included in the container?"
Title is fairly self-explanatory: will `[plantuml]` blocks be rendered as diagrams when using Docker build? I didn’t find a mention of PlantUML in the Dockerfile.

Would like to avoid building it on my machine right now if possible but @ronaldtse if there’s no certainty off the top of your head then I probably will to ensure this aspect of docs is accurate

[2019-02-16 02:06] ronaldtse commented on #4
@strogonoff Yes -- PlantUML is installed on the Docker container via https://github.com/riboseinc/metanorma-linux-setup/blob/master/ubuntu.sh .

[2019-02-16 03:04] strogonoff commented on #3
Got it, awesome

[2019-02-16 03:05] strogonoff commented on #4
ah I should’ve looked deeper! thanks, will update the diagramming section to clarify

[2019-02-16 04:10] #4 closed

[2019-03-09 11:40] opoudjis commented on #3
@ronaldtse Does that mean https://github.com/riboseinc/metanorma-windows-setup  should be deprecated? If that is the case, the README needs to say so.

[2019-03-10 00:59] strogonoff commented on #3
Yes that’s how I read it, it is no longer referenced on main Metanorma site. Let me do a quick PR to remove this reference, as well as some duplication and potential confusion

[2019-03-13 01:38] ronaldtse commented on #3
@strogonoff I'd like to add that Metanorma Docker is still a valid way to install, only "metanorma-windows-setup" isn't.

[2019-03-13 01:40] ronaldtse opened #6 "Auto-build Docker container on GitLab"
We want to automatically build the "metanorma/metanorma" Docker container on pushes to this repo. (i.e. when the metanorma version changes)

@CAMOBAP795 can you help with this? Thanks!

[2019-03-13 02:10] ronaldtse commented on #6
This repo is now mirrored at https://gitlab.com/ribose/metanorma-docker/ (you have access)

[2019-03-13 06:53] CAMOBAP795 commented on #6
@ronaldtse thanks, I confirm that I have access, as I see, we need to:
 - to setup CI (highly likely travis.ci) to build container
 - push to docker-hub if tag pushed to repo

Right?

[2019-03-13 07:01] ronaldtse commented on #6
@camobap795 we probably have to use GitLab CI to build and push the container, I’m not aware that Travis can be used to build and push containers?

[2019-03-13 07:03] CAMOBAP795 commented on #6
@ronaldtse np, I'm ok to go with GitLab CI (I have used it before)

BTW Travis can be used for docker push https://docs.travis-ci.com/user/docker/#pushing-a-docker-image-to-a-registry

[2019-03-13 08:06] ronaldtse commented on #6
Either way works for us, but not sure if with Travis we can use the container definition specified.

[2019-03-16 04:31] ronaldtse commented on #6
Any updates? Thanks!

[2019-03-16 10:42] CAMOBAP795 commented on #6
Almost done, could you please tell me docker user passwd for CI ?

[2019-03-16 12:03] ronaldtse opened #8 "Auto-build Docker container on Travis"
Just like #6 we actually prefer building on Travis since we don't need to maintain a clone on GitLab.

Apparently Travis CI works for building docker images too:

* https://ops.tips/blog/travis-ci-push-docker-image/
* https://giorgos.sealabs.net/build-and-test-against-docker-images-in-travis.html

[2019-03-16 12:19] CAMOBAP795 commented on #6
@ronaldtse I propose to close this one

[2019-03-16 12:21] CAMOBAP795 commented on #8
@ronaldtse please:
 - enable travis for this repo
 - please tell me [encrypted value](https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml) of  `DOCKER_LOGIN_USERNAME`, `DOCKER_LOGIN_PASSWORD`

[2019-03-16 12:24] ronaldtse commented on #8
@CAMOBAP795 can you let me know your email used for docker hub?

[2019-03-16 12:24] ronaldtse commented on #6
OK, thanks.

[2019-03-16 12:24] #6 closed

[2019-03-17 10:01] CAMOBAP795 opened #10 "Use NVM instead of system node, problem is the metanorma gem"
Based on https://github.com/metanorma/metanorma-docker/blob/master/metanorma/Dockerfile.in#L59 comment

cc @ronaldtse

[2019-03-17 10:11] CAMOBAP795 commented on #10
Will be fixed in scope of https://github.com/metanorma/metanorma-docker/pull/9

[2019-03-17 10:11] #10 closed

[2019-03-19 07:32] #8 closed

[2019-04-03 06:53] ronaldtse opened #11 "Add Travis link"
@CAMOBAP795 can you add a travis badge to the README? Thanks.

[2019-04-03 10:14] #11 closed

[2019-04-03 10:15] ronaldtse commented on #1
I don't think this is happening anymore, closing it. Feel free to reopen later.

[2019-04-03 10:15] #1 closed

[2019-04-03 10:18] ronaldtse opened #13 "Automatically push/deploy Travis built container to Docker Hub"
@CAMOBAP795 just like https://github.com/riboseinc/jenkins-docker/blob/master/.travis.yml

Thanks!

[2019-04-03 10:31] CAMOBAP795 commented on #13
@ronaldtse Done https://github.com/metanorma/metanorma-docker/commit/39cdac8d04b6a0f62edbfabbe51ba7089954b92b

[2019-04-03 10:31] #13 closed

[2019-04-04 01:37] ronaldtse commented on #13
@CAMOBAP795 it's not pushing to Docker Hub yet:

[code]

Can you help update the documentation on how to make a tagged commit for building the container?

[2019-04-04 01:37] ronaldtse commented on #13
I'm not even sure if we want a tagged commit because the version of the container will purely depend on the version of Metanorma. We just want to get the containers built and deployed.

[2019-04-04 04:57] CAMOBAP795 commented on #13
For now push happens only when you add tag to git repo like this
`git tag vSome.Version`
`git push origin master --tags`

If we need push on each commit to master it can be easily implemented by removing `tags` property

@ronaldtse just let me know

[2019-04-04 05:20] ronaldtse commented on #13
@CAMOBAP795 I guess it's a good idea to restrict to tags, but we want to make sure to remember this requirement. Can you update the README (and in jenkins-docker) so we remember to do it? Thanks!

[2019-04-04 06:07] ronaldtse opened #14 "Not pushing to metanorma/metanorma"
@CAMOBAP795 can you please help ensure that it's pushing to metanorma/metanorma (https://cloud.docker.com/u/metanorma/repository/docker/metanorma/metanorma/general).

Thanks!

[2019-04-04 06:17] CAMOBAP795 commented on #13
@ronaldtse done https://github.com/metanorma/metanorma-docker/pull/15 if it's ok I will do the same for `jenkins-docker`

[2019-04-04 06:29] ronaldtse commented on #13
@CAMOBAP795 yes, please do the same for jenkins-docker. Thanks!

[2019-04-04 06:30] CAMOBAP795 commented on #13
@ronaldtse sure, just updated https://github.com/metanorma/metanorma-docker/pull/15, is it ok now?

[2019-04-04 06:43] CAMOBAP795 commented on #14
@ronaldtse yep https://cloud.docker.com/u/metanorma/repository/docker/metanorma/metanorma looks empty i will check what is happens

[2019-04-05 18:27] CAMOBAP795 commented on #14
@ronaldtse push functionality works, but I think we need to change version strategy from `yyyyMMdd.branch` to version of `metanorma-cli`

How do you think?

[2019-04-06 00:23] ronaldtse commented on #14
Yes, I agree. Could you please help update it? Thanks.

[2019-04-06 07:17] CAMOBAP795 commented on #14
There is still some problems with push from travis (local push works correct)

@ronaldtse could you please clarify do we have an special user for push in travis or you just added there your credentials?

[2019-04-06 11:04] ronaldtse commented on #14
@CAMOBAP795 but that is strange -- Docker Hub says it has been pushed? I didn't push them so it must have been the Travis job?

<img width="378" alt="image" src="https://user-images.githubusercontent.com/11865/55668601-c2ee8780-589e-11e9-84e0-df53508ca8cc.png">

[2019-04-06 11:05] ronaldtse commented on #14
When you correlate the build history, both were pushed by your commits:

<img width="1090" alt="image" src="https://user-images.githubusercontent.com/11865/55668618-f7fada00-589e-11e9-9d67-40dc88fc8d10.png">

[2019-04-06 11:07] ronaldtse commented on #14
And it looks like Travis is pushing (deploying) on both builds. A commit should only be built once?

Previously, `mn` was the "edge version", and `metanorma` is the development version. For example, sometimes we can't wait until all the gems are released to build the container, so we have to use `mn`.

Perhaps we can either use the YYYYMMDD for edge builds under `metanorma` or `mn`?

[2019-04-06 13:16] CAMOBAP795 commented on #14
@ronaldtse

those ones which on hub.docker.io was pushed manually from my machine (during investigation)

As you may see from travis history  https://travis-ci.com/metanorma/metanorma-docker/builds all attempts to `docker push` failed because `denied: requested access to the resource is denied`

It do deployment only on tagged commits

Yes sure

[2019-04-07 01:59] ronaldtse commented on #14
@CAMOBAP795 yes you're right. I forgot to give push permissions to the CI user. I've restarted the build and see if it works.

[2019-04-07 04:40] CAMOBAP795 commented on #14
It works now, could you please double check the same for https://travis-ci.com/riboseinc/jenkins-docker

[2019-04-07 06:41] #14 closed

[2019-04-07 06:43] ronaldtse opened #16 "Update docker hub link to correct one"
Should be https://hub.docker.com/r/metanorma/metanorma/tags

[2019-04-24 20:29] CAMOBAP795 commented on #16
Done https://github.com/metanorma/metanorma-docker/commit/fae1a1a2daf542567821d295d8ee4efc94cb400b

cc @ronaldtse

[2019-04-25 02:26] ronaldtse commented on #16
Thanks!

[2019-04-25 02:26] #16 closed

[2019-05-01 13:23] ghobona opened #17 "Docker pull error: Manifest for metanorma/metanorma:latest not found"
Running this command, as shown on the README.md, ```docker pull metanorma/metanorma```

I got this error:

```Error response from daemon: manifest for metanorma/metanorma:latest not found```

So I then checked the docker hub to get the exact name of the tags https://hub.docker.com/r/metanorma/metanorma/tags

Then I successfully managed to pull the image using this command ```docker pull metanorma/

[2019-05-01 13:55] ronaldtse commented on #17
Thank you @ghobona , we will amend the flow to also publish a `latest` tag -- that was missing when we changed the namespace from `ribose` to `metanorma` 👍

[2019-05-01 14:01] ronaldtse commented on #17
Should be resolved in 51211f7 .

[2019-06-03 03:17] ronaldtse opened #18 "(URGENT) Metanorma docker container missing LaTeXML"
This docker container must contain all the prerequisites of running metanorma. Right now it fails due to:

[code]

@CAMOBAP795 can you please help fix this ASAP? Thanks!

[2019-06-03 08:39] CAMOBAP795 commented on #18
@ronaldtse it's very strange because we use https://raw.githubusercontent.com/metanorma/metanorma-linux-setup/master/ubuntu.sh inside docker let me check

[2019-06-03 08:56] CAMOBAP795 commented on #17
Fixed

[2019-06-03 08:56] #17 closed

[2019-06-03 08:57] CAMOBAP795 commented on #18
Cannot reproduce it on my end, my steps:

[code]

@ronaldtse maybe I missed something?

[2019-06-14 19:07] Kritner opened #19 "Unable to generate from docker file in windows"
I'm not sure if this is enough information or not, but I'm attempting to run a adoc through the metanorma docker container and getting the following error:

[code]

this same file has successfully run through a metanorma installation on mac, but wanted to attempt at getting it working on windows.

Any ideas?

[2019-06-14 19:25] Kritner commented on #19
I attempted to extend your image with the following `Dockerfile`:

[code]

I got a different error this time, but I'm not sure if I'm closer or not (i know next to nothing about ruby):

[code]

[2019-06-14 19:28] celic commented on #19
Then add `bundle exec`?

[2019-06-14 19:29] celic commented on #19
`E:\gitWorkspace\myDir>docker run -v "%cd%":/metanorma/ -w /metanorma kritner/metanorma bundle exec metanorma -t iso -x xml,html myFile.adoc`

[2019-06-14 19:45] Kritner commented on #19
I went through the lock file updating versions to the versions the errors were complaining about (I think it was around 6 or 7 separate packages?) then regenerating the docker image.

now i'm met with:

[code]

Seems like progress, but now it just looks like i'm invoking the container with an inappropriate command, even though it's the same command as previously.

[2019-06-14 21:15] ronaldtse commented on #19
Sorry @Kritner I’m in between flights and won’t be able to help debug until I get home.

@camobap795 can you take a look at this?

[2019-06-15 04:28] CAMOBAP795 commented on #19
@Kritner could you please try
`E:\gitWorkspace\myFolder>docker run -v "%cd%":/metanorma/ -w /metanorma kritner/metanorma metanorma compile myDoc.adoc -t iso -x xml,html`

[2019-06-15 12:59] Kritner commented on #19
@CAMOBAP795 I receive a similar message with your suggested invoke command:

[code]

it's interesting however, if i run the same command i was doing at the initial issue creation (when i was still using the metanorma/metanorma package directly:

[code]

In comparison to was was received previously:

[code]

Why would this command's output be different than when I first attempted, when I was gettin

[2019-06-19 05:20] CAMOBAP795 commented on #19
@Kritner thanks for the detailed response, let me did some checks on my end

[2019-06-19 10:09] ronaldtse commented on #18
I see the same results, the metanorma docker container should work. Maybe it was on Windows...? Forgot...

[2019-06-19 10:09] #18 closed

[2019-06-19 12:18] ronaldtse commented on #19
@Kritner we've pushed out a new docker image, would you mind re-pulling?

[code]

Can you also see if this document works for you?

[code]

Thanks!

[2019-06-19 12:32] Kritner commented on #19
sure, I'll give it a shot within the next few hours, thanks!

And just to make sure I'm on the same page...

that repo you want me to clone is to attempt to run metanorma with a known working adoc? The commands after the clone don't appear to be utilizing the docker image as those are ruby commands directly no?  Or do I need to get the docker image "running" then bash in in interactive mode?

[2019-06-19 12:36] ronaldtse commented on #19
@Kritner oops sorry, here are the correct commands...

[code]

Notice that the actual command is wrapped with double quotes.

[2019-06-19 12:37] Kritner commented on #19
gotcha, thanks 👍

[2019-06-19 15:55] Kritner commented on #19
Here's my full output:

[code]

I haven't looked at how the internals of your docker image work, but wouldn't the invoking of the docker image require the pushing in of the `Gemfile` and `Gemfile.lock` in order for ruby in the underlying image to be able to resolve all the requirements of the gems needed for the adoc?

Or is the expectation that the docker file should already have all of the plugi

[2019-06-19 16:17] Kritner commented on #19
Note, if i do a similar thing as before, extend your image, and pass in my own (in this case csd-subscription-upgrade `Gemfile` and `Gemfile.lock`), run bundle on the build of the container, I get this...

[code]

in each one of those builds and attempts at run, i was just updating the `Gemfile.lock` to match the version of the error message from the previous run.  I'm not sure why it's looking fo

[2019-06-20 04:03] ronaldtse commented on #19
@Kritner we're attempting to reproduce the error, will get back to you ASAP. Apologies for the hassle.

[2019-06-20 11:41] Kritner commented on #19
No problem, let me know if there's any additional information I should provide, or anything additional to attempt. Thanks!

[2019-06-20 15:34] ronaldtse commented on #19
@Kritner quick question: are you using Docker Desktop (Hyper-V), or Docker Toolbox (VirtualBox, for Windows 10 Home or non-Hyper-V)? Which Windows edition (Pro/Enterprise/Home) are you on?

[2019-06-20 15:43] Kritner commented on #19
Docker desktop (running under linux containers) and windows 10 pro

[2019-06-20 15:43] ronaldtse commented on #19
Thanks!

[2019-06-23 09:47] CAMOBAP795 commented on #19
@Kritner I appreciate your patience

Here is some result of my investigation, I have reproduced the issue, I still looking for a long-term (good) fix

Till this, I will provide a workaround

`docker run -v "%cd%":/metanorma/ -w /metanorma metanorma/metanorma "bundle install && bundle exec metanorma -t iso -x xml,html myFile.adoc"`

@Kritner could you please try this workaround and let me know if i

[2019-06-23 13:11] Kritner commented on #19
That seems to have done it! Should I keep this issue open for tracking/testing of the better solution?

[2019-06-23 13:12] CAMOBAP795 commented on #19
@Kritner yes, please, I will keep you updated, I hope we will release new Docker image with a fix soon

[2019-06-23 15:43] CAMOBAP795 commented on #19
Update:

Issue related to container 1.1.8 and later, also it reproduces on all OS

 - `docker run -v $PWD:/metanorma/ -w /metanorma metanorma/metanorma:1.1.7 "metanorma -t unece -x xml,html unece-cefact-recommendation-42.adoc"` - works perfectly
 - `docker run -v $PWD:/metanorma/ -w /metanorma metanorma/metanorma:1.1.8 "metanorma -t unece -x xml,html unece-cefact-recommendation-42.adoc"` - lead to

[2019-06-23 21:58] ronaldtse commented on #19
@CAMOBAP795 if I do this, it works:

[code]

=> Works

I believe it is because metanorma-cli has this line that calls Bundler.

https://github.com/metanorma/metanorma-cli/blob/49a81bbd7288e2c18e4d1cc07d03bd52efd6f988/exe/metanorma#L11

When Bundler is loaded, it attempts to use the local Gemfile, which the gems are not available inside the docker container.

For example, the `unece-cefact-recommen

[2019-07-04 01:41] ronaldtse commented on #19
Ping @abunashir

[2019-07-07 10:32] abunashir commented on #19
**TL;DR:** It is an issue with our image and bundler setup, I'm working on it fixing it.

Seems like there are a couple of things going on with our image and bundler setup, @ronaldtse is right, it was caused by the `bundler/setup` in our executable, whenever we run that then it tries to set up the missing dependencies.

Especially when you map your current directory to the image volume, and if you

[2019-07-07 11:02] abunashir commented on #19
@ronaldtse: From my point of view, the main responsibility for the `metanorma` image is to allow a user to use the metanorma toolchain, so I would not expect them to provide a custom Gemfile but a document.

If anyone wants to use custom Gemfile and other dependencies, then they could easily extend our image and set those up, that way it serves the main purpose and it stays more flexible

[2019-07-08 01:54] ronaldtse commented on #19
@abunashir you are right. The reason why we have Gemfile.lock for some documents:

1. Sometimes there are regressions with new releases - then users can't compile their documents that used to work. In this case users need workarounds.
2. Sometimes there are edge releases - e.g. new flavors or updates that users need to use. Users in this case may need to use Git gems.

How do we take care of these

[2019-07-09 09:12] abunashir commented on #19
In those cases, if it's pretty simple then we can ask them to run `bundle install` in the container (assuming they mapped a directory that contains Gemfile) or if they need a couple of custom steps then extend the image with necessary steps.

[2019-07-09 09:21] ronaldtse commented on #19
Then we need to make it clear what those extra steps are to allow people to build their custom image.

The thing is we need the user to map the directory to run metanorma, because often times the sources are split into multiple files.

[2019-07-09 09:28] abunashir commented on #19
Yap, we will need to make it clear in our document, Btw, our image doesn't show any documentation in the docker hub

[2019-07-15 07:55] ronaldtse commented on #19
@abunashir could you help add documentation to Docker Hub then?

[2019-07-17 14:05] abunashir commented on #19
Hello @Kritner, our recent changes to the metanorma image should fix this issue, would you mind giving it a try using `metanorma/metanorma:latest` and see if you still have any issue? Thanks!

[2019-07-17 14:24] Kritner commented on #19
Tried a few separate things:

![image](https://user-images.githubusercontent.com/8814983/61383573-f2893480-a87c-11e9-93d8-d49a675b7d3f.png)

Anything else I should try?

[2019-07-17 15:29] abunashir commented on #19
Could you please try it without the quotes mark around the actual command?

For the lockfile  issue, it's an issue with our blunder version, currently it's using `1.7.3`, @ronaldtse:  should we update it to the latest one? It might affect some old version but I think that's pretty rare?

[2019-07-17 23:56] ronaldtse commented on #19
@abunashir yes we should change to the new bundler. Did you already bundle upgrade the Gemfile?

[2019-07-18 09:28] abunashir commented on #19
@ronaldtse: I've created a new PR, this will install the latest bundler and as well as keep the old version, so now this should be compatible both the old / latest libraries.

On a side note: should we avoid checking in `Gemfile.lock` with any of our libraries ? otherwise it will create very precise hard dependence tree which would be very hard to mange. Here is a nice article why might want to av

[2019-07-18 12:55] ronaldtse commented on #19
Indeed, we've all read this this before, but the fact is when the actual dependencies depend on the time of the build, it makes things very hard to manage. For example, if a downstream dependency had a broken gem, then all the tests above will fail without reason.

[2019-07-22 20:32] ghobona opened #25 "latest version docker image throws errors"
The following command threw an error

`docker run -v "$(pwd)":/metanorma/ -w /metanorma metanorma/metanorma "metanorma -t ogc -x xml,html,doc ./document.adoc"`

The error message is

`docker: Error response from daemon: OCI runtime create failed: container_linux.go:344: starting container process caused "exec: \"metanorma -t ogc -x xml,html,doc ./document.adoc\": stat metanorma -t ogc -x xml,html,

[2019-07-22 20:47] ronaldtse commented on #25
@ghobona this must have been caused by the latest docker container streamlining (ping @abunashir).

Could you please try dropping the double quotes? Thanks!

[2019-07-22 20:51] ghobona commented on #25
It works without the quotes.

`docker run -v "$(pwd)":/metanorma/ -w /metanorma metanorma/metanorma metanorma -t ogc -x xml,html,doc ./document.adoc`

Thanks for the help.

[2019-07-22 21:06] #25 closed

[2019-07-22 22:58] ronaldtse commented on #25
Thank you @ghobona for confirming!

@abunashir could you help update the docker documentation on Metanorma.com ? (I know the docker hub docs have been updated)

[2019-07-24 15:22] abunashir commented on #25
@ronaldtse done!

[2019-07-30 18:49] Kritner commented on #19
the command

[code]

succeeded, sorry this fell off my radar for a bit.  Based on the last two comments were there additional changes coming that you'd like me to attempt before closing the issue? when i attempted to pull latest from the docker hub today it seemed that i still had the most up to date image.

[2019-07-31 06:52] ronaldtse opened #26 "Synchronization of release with `metanorma-cli`"
For every `metanorma-cli` release, we should build a new Metanorma docker container. How can we synchronize this?

[2019-08-01 13:16] abunashir commented on #19
Thanks for helping us on this @Kritner, I think we are good for now, please feel free to close this issue :)

[2019-08-01 13:53] Kritner commented on #19
One last thing, since my successful command ended up being:

[code]

Should the readme be updated to include the `metanorma compile` bit? is this specific to running it in windows (i wouldn't think so).

[2019-08-01 14:13] abunashir commented on #19
@Kritner No, it's not specific to windows, in the coming version it's recommend to use `compile` interface. But it's a good idea to update the document, thanks!

[2019-08-01 14:23] abunashir opened #27 "Update project documetation"
Recently, we encounter some issue in windows and we did add quite changes. The idea with this is to update our documentation so we cover the following.

* Ensure our example usages recommended interface, no shortcut (For example: use `metanorma compile` instead of invoking command directly)
* Add basic troubleshot / use cases guide for multiple supported platforms
* Add guide with example on how t

[2019-08-01 17:01] #19 closed

[2019-08-16 20:45] CAMOBAP795 commented on #26
@ronaldtse probably we can modify a little bit travis ci config https://github.com/metanorma/metanorma-cli/blob/master/.travis.yml#L21-L37

Will be updated...

[2019-08-18 19:28] CAMOBAP795 commented on #26
@ronaldtse both:
 - https://github.com/metanorma/metanorma-docker/pull/29
 - https://github.com/metanorma/metanorma-cli/pull/111

are ready for review

[2019-08-22 00:45] ronaldtse opened #30 "Provide list of packages/software included in Docker container"
For compliance (and informational) purposes, some users need a manifest of what packages/software is included in the Docker container.

This task is to provide this as documentation.

It is straightforward to provide a high level list as the first priority, such as:

* Puppeteer (with Google Chrome)
* PlantUML with the Java subsystem
* LaTeXML with Perl
* Metanorma with Ruby
* etc.

@abunashir cou

[2019-08-22 03:47] ronaldtse opened #31 "Post documentation on Docker Hub"
@abunashir can you help post the resulting documentation on Docker Hub? Thanks!

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-docker/pull/23#issuecomment-523735263_

[2019-08-22 07:57] abunashir commented on #31
@ronaldtse Done here: https://hub.docker.com/r/metanorma/metanorma, Btw, docker documentation doesn't support asciidoc yet, should we consider changing the documentation here to markdown, so we can copy/paste in the future?

[2019-08-22 07:57] ronaldtse commented on #31
@abunashir yeah sure, please go ahead. Thanks!

[2019-08-22 08:39] CAMOBAP795 commented on #26
@ronaldtse should we make `mn` image on docker hub?

[2019-08-22 08:40] ronaldtse commented on #26
@CAMOBAP795 yes, don't we already have it?

[2019-08-22 08:41] CAMOBAP795 commented on #26
AFAIK we have separation for images
 - `metanorma` for releases
 - `mn` for non-stable metanorma

As I see on docker hub we have only `metanorma` but haven't `mn`

[2019-08-22 08:42] ronaldtse commented on #26
@CAMOBAP795 just created, you have access. Thanks!

[2019-08-22 12:51] abunashir commented on #31
@ronaldtse done in the attached PR, please let me know if there is anything else.

[2019-08-22 14:06] #31 closed

[2019-08-23 10:42] ronaldtse commented on #26
@CAMOBAP795 please close this when done. Thanks!

[2019-08-23 17:50] ronaldtse opened #33 "Missing `yq` dependency"
Missing `yq` dependency?

This is from `mn-nist-documents`:
[code]

@CAMOBAP795 can you help fix this? Thanks!

[2019-08-24 16:15] #26 closed

[2019-08-24 19:50] abunashir commented on #30
Sure, It also includes `node` and `npm`?

[2019-08-25 00:49] #30 closed

[2019-08-25 02:27] ronaldtse opened #35 "Master build failing"
Due to the missing “mn:latest” image on docker hub. The current script pulls in the previous images before it pushes in an attempt to re-use previous layers that weren’t changed.

[2019-09-03 08:06] ronaldtse commented on #35
`master` is passing now, closing.

[2019-09-03 08:06] #35 closed

[2019-09-03 08:09] ronaldtse opened #37 "Reported remediation needed for customized build failure"
@CAMOBAP795 we have received a report that a customized Docker build fails like this:

<img width="728" alt="Screen Shot 2019-09-03 at 4 08 17 PM" src="https://user-images.githubusercontent.com/11865/64155282-0c9ac880-ce65-11e9-981a-25a38eab7e8c.png">

And adding the following at the beginning of the `Dockerfile` has fixed it:

Could you help confirm to see if we have this issue or not? Thanks.

[2019-09-03 14:18] CAMOBAP795 commented on #37
@ronaldtse is it possible to request minimal `Dockerfile` which help to reproduce this problem locally? (because I cannot reproduce it)

[2019-09-03 18:12] ronaldtse commented on #37
@CAMOBAP795 I have requested it. Thanks!

[2019-09-03 18:13] ronaldtse commented on #33
Fixed in #16.

[2019-09-03 18:13] #33 closed

[2019-09-04 00:29] ronaldtse commented on #37
@CAMOBAP795 here's the minimal Dockerfile:

[code]

[2019-09-07 12:20] CAMOBAP795 commented on #37
Looks like we faced with https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=863199 issue PR on the way

[2019-09-08 08:25] ronaldtse opened #39 "Upgrade image to Ruby 2.6"
The Debian running Ruby 2.5 is old. We should get it upgraded to avoid problems like #37 and #38 .

@CAMOBAP795 can you help with this? Thanks.

[2019-09-08 08:25] ronaldtse commented on #37
Resolved in #38.

[2019-09-08 08:25] #37 closed

[2019-09-08 21:14] CAMOBAP795 commented on #39
- https://github.com/metanorma/mn-itu-docs/pull/5 - some bug in relaton

[2019-09-22 19:56] CAMOBAP795 commented on #39
@ronaldtse I need your help with reviewing related PRs

[2019-09-22 23:15] ronaldtse commented on #39
@CAMOBAP795 could you help with https://github.com/metanorma/metanorma-docker/pull/40#issuecomment-532035265 ?

[2019-09-23 06:31] ronaldtse commented on #39
Merged, closing.

[2019-09-24 04:23] #39 closed

[2019-09-27 14:01] ronaldtse opened #41 "Replace Travis badge with GitHub Actions badge (mn and metanorma images)"

[2019-09-27 14:48] ronaldtse commented on #41
Done in ee64d35ee77bf2e604797f378d8d8104133a0d33

[2019-09-27 14:48] #41 closed

[2019-09-27 18:15] ronaldtse opened #42 "Docker images not allowing build of PDFs due to missing `npm`"
We have to fix this soon as PDF generation is now broken in Docker containers.

e.g. https://github.com/CalConnect/csd-transcription-systems/commit/ae74b1172fc991ef59e6cccf289faadf40c9714e/checks

[code]

[2019-10-11 09:02] CAMOBAP795 commented on #42
@ronaldtse fixed in https://github.com/metanorma/metanorma-docker/commit/18626eb1f90993d55fb2de47f6acc199d5d546c3

[2019-10-11 11:37] ronaldtse commented on #42
@CAMOBAP795 is the new image built? Can you try in this repo which uses GitHub Actions via Docker? https://github.com/CalConnect/csd-admin-documents

Thanks!

[2019-10-11 14:09] CAMOBAP795 commented on #42
Not fixed by 18626eb looking for another solution

[2019-10-13 21:49] CAMOBAP795 commented on #42
https://github.com/metanorma/metanorma-docker/commit/a3c66d493028d93316b0f411cb24e91cb06f152b - fixed

[2019-10-13 22:51] CAMOBAP795 commented on #42
npm not found fixed, but instability still exists "Navigation failed because browser has disconnected! (RuntimeError)"

[2019-10-14 01:06] ronaldtse commented on #42
https://github.com/GoogleChrome/puppeteer/issues/4679

[2019-10-14 01:07] ronaldtse commented on #42
Seems that it’s a common issue that can be fixed? https://stackoverflow.com/questions/54836746/puppeteer-fails-in-docker-container-browser-has-disconnected

[2019-10-16 06:44] CAMOBAP795 commented on #42
@ronaldtse I'm not sure that this is right fix because I didn't observe this problem locally (I use docker too) still ivestigating

[2019-10-16 07:55] CAMOBAP795 commented on #42
The issue have random nature, I have a feeling that https://github.com/GoogleChrome/puppeteer/issues/4911#issuecomment-534781138 will fix this

[2019-10-23 17:39] ronaldtse commented on #42
Ping @CAMOBAP795 we've got a user complaining about this. Any updates?

[2019-11-04 09:08] CAMOBAP795 commented on #42
CalConnect magically fixed now

At this point, I have only one assumption - broken/buggy chrome binary

- When we install puppeteer, it downloads some version of chromium binary
- looks like https://hub.docker.com/layers/metanorma/metanorma/1.2.6/images/sha256-380af0412c87eafb64128e0b7b399179f1062379644ceff919d42329b1d9a529 contains a bad one
 - Nick did a release of metanorma-docker recently, thi

[2019-11-04 11:04] ronaldtse opened #43 "Docker image missing IETF compilation files"
@CAMOBAP795 can you help fix this? We just need to include xml2rfc inside the container. Thanks.

[code]

[2019-11-04 11:05] CAMOBAP795 commented on #43
@ronaldtse yep, we definitely install `xml2rfc` but looks like it's not in `PATH`

[2019-11-04 11:14] ronaldtse commented on #43
The particular issue occurs on https://github.com/CalConnect/csd-subscription-upgrade -- perhaps you can fork it and see how you can fix this?

[2019-11-05 12:09] CAMOBAP795 commented on #43
Merged waiting for publishing to try

[2019-11-05 19:41] CAMOBAP795 commented on #43
As I see the fix works

[csd-subscription-upgrade.txt](https://github.com/metanorma/metanorma-docker/files/3810898/csd-subscription-upgrade.txt)

[2019-11-05 19:57] ronaldtse commented on #43
@CAMOBAP795 excellent!

[2019-11-05 19:57] #43 closed

[2019-11-25 08:19] CAMOBAP795 commented on #42
According to last comment, not proven for OSX but maybe that a case for Linux.

I think we should not spent time on it right now
So I propose to close this one

@ronaldtse how do you think?

[2019-12-05 04:16] ronaldtse opened #45 "Rebuild/retag v1.2.8 as it was released before metanorma-cli"
v1.2.8 Docker needed to be re-released since it was compiled before metanorma-cli v1.2.8 was even released.

(Screenshots taken 2019/12/05)

<img width="492" alt="Screen Shot 2019-12-05 at 12 15 18 PM" src="https://user-images.githubusercontent.com/11865/70203730-e8e36900-1758-11ea-9828-f0f07400291e.png">

<img width="554" alt="Screen Shot 2019-12-05 at 12 15 30 PM" src="https://user-images.github

[2019-12-05 05:02] ronaldtse commented on #45
This is now done:
https://github.com/metanorma/metanorma-docker/commit/27593f25d987f82f940e4cb3573bc172016ee48c/checks?check_suite_id=343021111

https://github.com/metanorma/metanorma-docker/commit/27593f25d987f82f940e4cb3573bc172016ee48c/checks?check_suite_id=343021104

[2019-12-05 05:02] #45 closed

[2019-12-20 07:25] #42 closed

[2019-12-24 02:07] opoudjis opened #46 "Metanorma docker build failing"
https://github.com/metanorma/metanorma-docker/commit/d304c08777b8f8febc04fb7b21d0600100b7a88d/checks?check_suite_id=372355060

[2019-12-28 15:00] abunashir commented on #46
This is an ongoing issue with the latest bundler release and official ruby image, There are some fixes coming up soon. I've added a temporary fix by locking the bundler version to an earlier version, this should resolve the issue for now.

But, let's also keep a followup issue for the future to update it once we have an actual solution on the bundler/ruby image side.

[2019-12-28 15:48] #46 closed

[2019-12-29 15:43] abunashir opened #48 "Remove temporary fix for bundler"
This is a followup for - https://github.com/metanorma/metanorma-docker/pull/47#issue-357509647, we don't necessarily need to work on this on until there are some official releases for bundler and ruby official image.

I'm keeping it open for reference and assigning it to myself.

[2019-12-30 02:13] ronaldtse commented on #48
Thanks @abunashir for tracking!

[2020-01-17 03:40] opoudjis opened #49 "docker failing to install pip, so cannot update"

[2020-01-23 17:46] ronaldtse commented on #49
ping @CAMOBAP795

[2020-01-23 17:47] ronaldtse commented on #49
This might be related to the deprecation of Python 2, might need to do this first:
[code]

[2020-01-24 10:34] CAMOBAP795 commented on #49
Looks like fixed by @ronaldtse already https://github.com/metanorma/metanorma-docker/commit/a9c7cb4c73dca0526fc7c1a9e85bd15e3e0ece20

[2020-01-25 06:15] ronaldtse commented on #49
This is fixed in a9c7cb4

[2020-01-30 13:37] opoudjis commented on #48
@ronaldtse Should this issue be reactivated?

[2020-01-30 13:38] opoudjis commented on #49
Issue has reemerged: https://github.com/metanorma/metanorma-docker/runs/417185859?check_suite_focus=true

[2020-01-30 21:20] CAMOBAP795 commented on #49
@opoudjis looks like you did tag on https://github.com/metanorma/metanorma-docker/commit/84c8a9fc72d4b889734f1a8d441d291cba0f0f9a some outdated commit, because if you will check Dockerfile.in for it, there is no `python-pip3` installation

I will retag it

[2020-01-31 01:46] ronaldtse commented on #49
@CAMOBAP795 is this fixed now?

[2020-01-31 04:26] ronaldtse commented on #48
@abunashir can we act on this now? Thanks.

[2020-01-31 05:50] CAMOBAP795 commented on #49
@ronaldtse yes, in fact, this was fixed by you

For some reason, Github Actions didn't start on `git tag -f ...`, so I just pushed another tag

[2020-01-31 05:57] CAMOBAP795 commented on #49
I forgot that tag must correlate with metarnorma-cli, should be fixed now

[2020-01-31 06:18] CAMOBAP795 commented on #49
https://github.community/t5/GitHub-Actions/How-to-trigger-GitHub-Actions-on-retag

[2020-01-31 09:22] abunashir commented on #48
Indeed, I just checked with the latest version and seems to be working now. Created a PR 🚀

[2020-01-31 10:12] #48 closed

[2020-01-31 16:22] ribose-jeffreylau opened #51 "Segfaults since metanorma/metanorma:1.2.8.5"
### Description

Under macOS 10.14.6, using `metanorma/metanorma:1.2.8.4` would run successfully, without segfaulting, whereas using `metanorma/metanorma:1.2.8.5` would cause itself to segfault.

### Steps to reproduce

1. Run `git clone https://github.com/metanorma/mn-samples-iso`
2. Run `cd mn-samples-iso`
3. Run `docker run -v $(pwd):/metanorma/ metanorma/metanorma:1.2.8.5 metanorma sources/iso

[2020-02-01 06:24] ribose-jeffreylau commented on #51
## Update

Version 1.2.8.6 also segfaults.

<details>
<summary>click for trace</summary>

[code]

</details>

[2020-02-01 11:55] ronaldtse commented on #51
@CAMOBAP795 can you please help fix this ASAP? Thanks.

[2020-02-01 12:52] CAMOBAP795 commented on #51
@ronaldtse I will check

[2020-02-02 19:30] CAMOBAP795 commented on #51
Low-level crash in native cpp library `libsaas`
I can reproduce it with docker

Crash happens in Sass::Expression::Expression(Sass::ParserState, bool, bool, bool, Sass::Expression::Type) function call

[2020-02-02 21:57] ronaldtse commented on #51
Ping @opoudjis are we doing something new in SASS from v1.2.8.4 and v1.2.8.5? Thanks.

[2020-02-03 00:31] opoudjis commented on #49
So Alex, what should I be doing differently?

[code]

[2020-02-03 00:34] opoudjis commented on #51
... Are we? No. Do you want me to freeze SASS or something?

[2020-02-03 00:39] opoudjis commented on #51
Yes, the Asciidoctor boilerplate is now being processed in isodoc, centrally. But the crash is happening in 1/usr/local/bundle/gems/isodoc-1.0.14/lib/isodoc/convert.rb:2:in `require'`---it happens as soon as sassc is fetched. So I don't think it's something I'm doing.

[2020-02-03 00:41] opoudjis commented on #51
And I'm using MacOS 10.14.6 as well.

[2020-02-03 02:25] ronaldtse commented on #51
I think the SassC build in docker may be broken, or it is too old. Will have to investigate.

[2020-02-03 05:11] CAMOBAP795 commented on #51
@ronaldtse sassc gem now contain prebuild libsass, so we don't use the system version anymore

I will compare two versions of libsass (binaries just in case)

[2020-02-03 05:28] ronaldtse commented on #51
Then it is possible that the underlying libsass installed via system is different from the one provided by sassc gem? Or the prebuilt ones are incompatible with the base container?

[2020-02-03 05:29] ronaldtse commented on #51
I'd prefer us to use minimal Ubuntu as the base container instead of the Ruby Debian containers...

[2020-02-04 15:34] ronaldtse commented on #51
So I have implemented the `metanorma` and `mn` containers on Ubuntu, called `metanorma-ubuntu` and `mn-ubuntu`. I was hoping that this may solve the problem.

However, it didn't.

The same segfault occurs in:
* metanorma/metanorma:latest
* metanorma/metanorma-ubuntu:latest

It doesn't occur in:
* metanorma/mn:latest
* metanorma/mn-ubuntu:latest

1. Strangely, the segfaults only happen in the conta

[2020-02-04 16:18] ronaldtse commented on #51
Or as someone at https://github.com/rails/sprockets/issues/633 suggests, downgrading to `sassc 2.1.0` might work.

I think it's very strange that git metanorma-cli work but released metanorma-cli doesn't.

[2020-02-04 16:24] ronaldtse commented on #49
Closing this.

[2020-02-04 16:25] #49 closed

[2020-02-07 17:34] ronaldtse opened #55 "(URGENT) Failure when building document inside container"
@camobap795 can you help fix this? Thanks!

[code]

[code]

Clearly the failure is due to PlantUML not useable from within Metanorma.

However, if I go into the container, the `plantuml` command works:
[code]

[2020-02-07 17:47] CAMOBAP795 commented on #55
In progress

[2020-02-07 21:08] CAMOBAP795 commented on #55
This is how we call `plantuml` for the code, examples:
 - "plantuml /tmp/plantuml20200207-682-ewdu3l.pml"
 - "plantuml /tmp/plantuml20200207-682-1v5zccz.pml"
 - "plantuml /tmp/plantuml20200207-682-1x47b2i.pml"

As results images created in `/tmp` directory then by our logic they moved to `plantuml` directory which created at the same level where `adoc` placed

After this we have bad logic which ad

[2020-02-07 22:45] CAMOBAP795 commented on #55
Here are my research results
 - https://github.com/metanorma/metanorma-standoc/blob/master/lib/asciidoctor/standoc/macros.rb#L192 - here we hardcoded "plantuml" image directory and it doesn't respect `:imagesdir:` for `adoc`
 - according to the comment to this method it should care about `:imagesdir:`

PR https://github.com/metanorma/metanorma-standoc/pull/204

[2020-02-08 03:14] ronaldtse commented on #55
PR metanorma/metanorma-standoc#204 is now merged.

The docker images will still crash with PlantUML until @opoudjis makes a new release of metanorma-standoc. Let's close this once the new release of metanorma-standoc is up and docker containers are updated.

This shows that it is important to only release a docker container after testing on documents. We need to do this.

[2020-02-08 10:19] CAMOBAP795 commented on #55
@ronaldtse I have tested the fix by patching gem inside of docker, but I agree that we should follow the process

[2020-02-08 10:20] ronaldtse commented on #55
@CAMOBAP795 we don't even have this part of the process 😢

[2020-02-09 07:30] ronaldtse commented on #51
This is very strange. `metanorma/metanorma` still segfaults, but `metanorma/mn` doesn't. Both are based on `ruby:2.6-slim-buster`

[2020-02-09 07:46] ronaldtse opened #56 "Add mn-samples-* tests when building docker container"
The built docker container should be used to test all mn-samples-* repos to ensure the docker container works.

[2020-02-11 18:42] ghobona opened #57 "Problem running metanorma-docker on MacOs and Ubuntu"
I ran `docker pull metanorma/metanorma:latest` today which worked fine.

Then when I run `docker run -v "$(pwd)":/metanorma metanorma/metanorma  metanorma compile -t ogc -x xml,html,doc document.adoc` I get the following:

[code]

[2020-02-11 19:14] ghobona commented on #57
I have installed metanorma 1.1.8 and still get the same problem. So this must be a problem with the Ruby environment on the host machine. I therefore am closing the issue.

[2020-02-11 20:32] ghobona commented on #57
Reopened this issue because I encountered the same problem on Ubuntu, as well as on MacOS.

[2020-02-11 23:08] ronaldtse commented on #57
@ghobona sorry about this problem. The current metanorma/metanorma:latest container seems to be problematic -- can you try metanorma/mn:latest? It should work. Thanks!

[2020-02-11 23:08] ronaldtse commented on #57
This is related to #51 .

[2020-02-11 23:36] ghobona commented on #57
I still get the same error when using the `metanorma/mn:latest` container

[2020-02-11 23:43] ronaldtse commented on #57
That's strange! While you're at it... could I pain you to also try the metanorma/mn-ubuntu:latest container? Hope it works...

[2020-02-11 23:55] ghobona commented on #57
Both of these now work, thanks:

* metanorma/mn:latest
* metanorma/mn-ubuntu:latest

[2020-02-12 02:09] ronaldtse commented on #57
Thanks @ghobona ! Were you able to run them by updating the containers via `docker pull`?

[2020-02-12 07:37] ghobona commented on #57
Yes, I had to run `docker pull`.

These are the commands that worked on Mac:

`docker pull metanorma/mn:latest`

`docker run -v "$(pwd)":/metanorma metanorma/mn metanorma compile -t ogc -x xml,html,doc document.adoc`

These are the commands that worked on Ubuntu:

`docker pull metanorma/mn-ubuntu:latest `

`docker run -v "$(pwd)":/metanorma metanorma/mn-ubuntu metanorma compile -t ogc -x xml,html,

[2020-02-12 08:01] ronaldtse commented on #57
Thank you for going through this and for the tips. They will be useful for other users too 👍

[2020-02-12 08:01] #57 closed

[2020-02-13 09:29] ronaldtse commented on #51
@ribose-jeffreylau can you confirm that the new docker containers work? Can you try `docker pull metanorma/metanorma:latest`? Thanks.

[2020-02-14 03:28] ribose-jeffreylau commented on #51
Here's the latest trace:

<details>
<summary>click for trace</summary>

[code]

</details>

[2020-02-14 03:32] ribose-jeffreylau commented on #51
Here's another trace featuring sassc:

<details>
<summary>click for trace</summary>

[code]

</details>

[2020-02-14 03:59] ronaldtse commented on #51
@ribose-jeffreylau are you seeing this locally or on GitHub or GitLab? If locally, can you let us know the docker version? Thanks.

[2020-02-17 02:38] ribose-jeffreylau commented on #51
@ronaldtse This is seen on local.

[code]

[2020-02-17 02:44] ribose-jeffreylau commented on #51
This is also seen on GitLab:
https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/-/jobs/439176074

[2020-02-17 04:13] ronaldtse commented on #51
@ribose-jeffreylau but I'm also seeing it runs successfully on GitLab?
https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/-/jobs/439177620

[2020-02-17 08:58] ronaldtse commented on #51
@ribose-jeffreylau I see the issue now, you're reverting the changes.

[2020-02-17 14:18] ronaldtse commented on #51
@CAMOBAP795 can you please help investigate and fix this issue? When I build these containers locally, I don't see this issue. Thanks!

[2020-02-18 14:41] CAMOBAP795 commented on #51
`libsaas.so` looks different for `metanorma/metanorma:latest` & `metanorma/mn:latest` while saasc stay on the same version 2.2.1, I have no uderstanding how this may happens

<details>
  <summary>Gemfile diff</summary>

[code]

</details>

But looks like the problem not only in `libsass.so` because I tried to replace it with the one from `metanorma/mn` and it doesn't help

_To be continued..._

[2020-02-18 14:47] ronaldtse commented on #51
In the Gemfile diff, the only two gems that changed that are not ours (our stuff is all pure Ruby) are:
[code]

Maybe it's due to one of these two gems? Otherwise, it may be due to the compilation of libsass? If so, we can try using the system version (Ubuntu: `apt-get install -y libsass`)?

[2020-02-18 14:48] CAMOBAP795 commented on #51
Highly likely I will enable debug logging on GHA later to check how exactly we compile libsass

[2020-02-19 13:17] opoudjis commented on #55
Metanorma release has happened

[2020-02-22 11:13] CAMOBAP795 commented on #51
Looks like a known issue https://github.com/sass/sassc-ruby/issues/146

I will try to implement this workaround:
 - https://github.com/sass/sassc-ruby/issues/146#issuecomment-534197168

Also, some users confirmed that downgrade to 2.1.0 should works

To be continued...

[2020-02-22 11:23] ronaldtse commented on #51
Great find @CAMOBAP795 , let’s try the bundle config prebuilt binary:
`bundle config --local build.sassc --disable-march-tune-native`

If this doesn’t work, let’s downgrade to 2.1.

[2020-02-23 03:27] ronaldtse opened #59 "Add testing for all available samples repositories (mn-samples-*)"
Add testing for all available samples repositories (mn-samples-*)

For @camobap795

_Originally posted by @CAMOBAP795 in https://github.com/metanorma/metanorma-docker/pull/58#issuecomment-589996244_

[2020-02-23 10:15] CAMOBAP795 commented on #51
Retagged.

Please remove local `metanorma/metanorma:latest` image then run

`docker run -v $(pwd):/metanorma/ metanorma/metanorma:latest metanorma sources/iso-rice-en.adoc`

I can confirm that it works for me

[2020-02-23 10:17] CAMOBAP795 commented on #59
@ronaldtse sorry for the confusion, you are always stepping ahead) https://github.com/metanorma/metanorma-docker/issues/56 was reported by you 14 days ago

So I'm closing this one in favor of #56

[2020-02-23 10:17] #59 closed

[2020-02-23 10:39] CAMOBAP795 commented on #55
@ronaldtse it works for me, I think we can close this one

<details>
<summary>docker run -v $(pwd):/metanorma -it metanorma/metanorma metanorma sources/iso-24229.adoc</summary>

<p>

[code]

</p>
</details>

[2020-02-23 14:26] ronaldtse commented on #55
Let’s close. Thanks!

[2020-02-23 14:26] #55 closed

[2020-02-24 00:13] ronaldtse opened #60 "(URGENT) metanorma-csd crashes at `validate_section.rb`"
This seems like a mismatch between versions of metanorma-csd and metanorma-standoc.

[code]

[2020-02-24 04:12] ribose-jeffreylau commented on #51
I can confirm 1.2.9.1 works.  Thanks!  Closing.

[2020-02-24 04:12] #51 closed

[2020-02-24 04:23] ronaldtse commented on #51
Thanks @CAMOBAP795 @ribose-jeffreylau

[2020-02-24 10:30] #60 closed

[2020-03-02 02:00] opoudjis opened #61 "Integrate PDF setup into build script"
Integrate instructions from https://github.com/metanorma/mn-native-pdf/blob/master/README.adoc, as we are now integrating the functionality of that repository into metanorma

[2020-03-02 02:14] ronaldtse opened #62 "(URGENT) Integrate PDF setup using local Docker volume"
When using the new PDF functionality, the docker container will need to have fonts downloaded before running some PDF layouts or the output will not have the proper fonts (e.g. ISO flavor requires Cambria).

When using the docker container, there should be a command to setup fonts in a volume before `metanorma` command runs.

These 3 cases need to be supported:
1. User chooses not to setup fonts (

[2020-03-09 10:42] CAMOBAP795 opened #63 "move metanorma-linux-setup script inside metanorma-docker"
Per @ronaldtse

"""
I'm thinking we should move metanorma-linux-setup script inside metanorma-docker repo

Because metanorma-docker repo uses metanorma-linux-setup script

The metanorma-docker setup script depends on the versions set in the metanorma-linux-setup script, which is not a good dependency

In the next version, we should be able to remove puppeteer/node dependency

Then we don't need nv

[2020-03-16 02:54] ronaldtse opened #66 "Tests for sample repos should always run all flavors and show errors at the end"
We want to have the build run for all flavors, i.e. so that the flavors don't block each other. Right now, all flavors are run in sequence but if one flavor fails the ones after won't run.

e.g. store the errors in a separate file for a run, and if there are errors, print out the log files at the end and then report the error.

_Originally posted by @ronaldtse in https://github.com/metanorma/metan

[2020-03-16 07:30] CAMOBAP795 commented on #56
Done

[2020-03-16 07:30] #56 closed

[2020-03-27 10:14] ronaldtse commented on #62
When in the Docker environment, we don't store the fonts inside the homedir because the docker volume may not be shared with local disk.

That's why we need to make the container's `~/.metanorma/fonts` a volume and install the fonts there. If the user chooses to mount his real `~/.metanorma/fonts` dir to the container's identical path, that's fine.

Otherwise, this docker mechanism will allow cach

[2020-04-03 17:06] ronaldtse opened #67 "master branch failing at build-debian"
[code]

[2020-04-05 21:06] CAMOBAP795 commented on #63
Done

[2020-04-05 21:06] #63 closed

[2020-04-28 09:58] ghobona opened #69 "Error compiling document using metanorma-docker and the OGC template"
I am getting this error when I try to compile a document using metanorma-docker and the OGC template.

[code]

[2020-04-28 10:01] ronaldtse commented on #69
@ghobona sorry about this, I believe this was fixed here: https://github.com/relaton/relaton-iso/issues/84

@CAMOBAP795 has the new docker container been re-built?

[2020-04-29 15:33] CAMOBAP795 commented on #69
@ronaldtse @ghobona ubuntu images pushed to remote, for Debian ones I still working on a fix for https://github.com/metanorma/metanorma-docker/issues/67

@ghobona please try `docker run -v "$(pwd)":/metanorma metanorma/metanorma-ubuntu:1.2.11.1  metanorma compile -t ogc -x xml,html,doc document.adoc`

[2020-04-29 18:03] CAMOBAP795 commented on #67
Fixed

[2020-04-29 18:03] #67 closed

[2020-04-29 19:40] ghobona commented on #69
@CAMOBAP795 Yes, `metanorma-ubuntu:1.2.11.1` worked fine. Thanks.

[2020-04-29 19:43] #69 closed

[2020-05-01 10:45] CAMOBAP795 commented on #62
@ronaldtse @abunashir as far as I understood this ticket blocked by https://github.com/metanorma/metanorma/issues/95 , can you confirm this?

[2020-05-01 16:36] ronaldtse commented on #62
@CAMOBAP795 yes.

[2020-05-01 19:25] ronaldtse commented on #69
Thanks guys!

[2020-05-05 13:02] ronaldtse opened #73 "Make metanorma-docker work with `metanorma setup` on separate volume"
We need to make a new volume inside the Docker container, e.g. /fonts to allow this:

[code]

We need to have `VOLUME /metanorma` or something like this in the `Dockerfile`.

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-docker/pull/72#issuecomment-623973673_

[2020-05-07 17:03] CAMOBAP opened #74 "add yq to docker"

[2020-05-07 17:06] ronaldtse commented on #74
[code]

[2020-05-09 10:15] CAMOBAP commented on #73
Here is my update after research

AFAIK There is no way to mount/create docker volume from the inside of the Docker

The command `docker run -v ~/.metanorma:/root/.metanorma -it metanorma/metanorma metanorma setup` will works out-of-box once https://github.com/metanorma/metanorma-cli/pull/139 will be merged

@ronaldtse if we need be able to configure fonts installation path this need to be impleme

[2020-05-09 10:15] CAMOBAP commented on #66
Currently, we have a reverse problem, it's don't stop on error, working to implement this logic

[2020-05-11 15:02] CAMOBAP commented on #73
@ronaldtse got it but without modification in https://github.com/metanorma/metanorma-cli/pull/139 we cannot achieve this, https://github.com/metanorma/metanorma-cli/pull/139#issuecomment-626759731

[2020-05-13 12:09] CAMOBAP opened #77 "Impossible to install gems in container from Gemfile"
### Intro

Recently I have fixed a couple of issues related to problems with installation gems from host Gemfile:
 - https://github.com/metanorma/mn-samples-mpfa/issues/20
 - https://github.com/metanorma/csa-caiq/issues/11

The fix by itself is in those lines: https://github.com/metanorma/mn-samples-mpfa/blob/master/.github/workflows/docker.yml#L41-L45

Long story short: in a docker container, onl

[2020-05-13 12:10] CAMOBAP commented on #77
@ronaldtse @abunashir please let me know if you have any idea about roots of the problem

[2020-05-13 16:49] ronaldtse commented on #77
@ribose-jeffreylau was able to get around this issue with the combination of:

* git clone
* gem build
* sed /setup/Gemfile.lock

[2020-05-13 17:00] CAMOBAP commented on #77
Thanks for the information, but `bundle add ...` in comparison with solution aboce looks much cleaner. I will develop this solution to support github gems

[2020-05-15 12:43] ronaldtse opened #78 "Add tests for mn-samples-nist"
Need to add tests for https://github.com/metanorma/mn-samples-nist

[2020-05-15 12:44] ronaldtse opened #79 "Add tests for mn-samples-iho"
https://github.com/metanorma/mn-samples-iho

[2020-05-15 12:47] ronaldtse opened #80 "Add tests for mn-samples-ietf"
https://github.com/metanorma/mn-samples-ietf

Blocked by https://github.com/metanorma/mn-samples-ietf/issues/14

[2020-05-15 15:31] CAMOBAP commented on #66
Done

[2020-05-15 15:31] #66 closed

[2020-05-15 21:14] CAMOBAP commented on #79
Done

[2020-05-15 21:15] CAMOBAP commented on #78
Done

[2020-05-15 21:15] #78 closed

[2020-05-16 20:29] CAMOBAP commented on #77
The script is ready https://github.com/metanorma/metanorma-build-scripts/blob/master/gemfile-to-bundle-add.sh

[2020-05-16 20:29] #77 closed

[2020-05-24 20:01] ronaldtse opened #84 "metanorma/mn not showing latest commit with font fixed"
https://github.com/metanorma/metanorma-ogc/issues/145

This is despite the git ref here: https://github.com/metanorma/metanorma-docker/commit/ea518ee804220f5b57f5db4e87dd3f5629c5d4e8

@CAMOBAP can you help fix this?

[2020-05-24 20:16] CAMOBAP commented on #84
@ronaldtse on regular pushes to master we are update `latest` tags only:
 - https://hub.docker.com/layers/metanorma/mn/latest/images/sha256-fa1045c3add2125912623525521ea76ba4d26ef0c9c53db710d0ce27c648bbe0?context=explore
 - https://hub.docker.com/layers/metanorma/mn-ubuntu/latest/images/sha256-f8c7c6ca7d3e4a4cd631da5b93815afc0dfaf4370c9f451be10c8f40afbcd698?context=explore

for 1.2.12 it stays 'ol

[2020-05-25 02:07] ronaldtse commented on #84
I see, however, I'm getting the same result for both "latest" and "1.2.12"... i.e. the fonts were not fixed.

[2020-05-25 02:07] ronaldtse commented on #84
Locally, if I run git head, it is fixed.

[2020-05-25 15:38] CAMOBAP commented on #84
Should ve fixed now

[2020-05-25 19:37] #84 closed

[2020-05-25 19:37] ronaldtse commented on #84
Confirmed!

[2020-06-20 05:36] CAMOBAP opened #86 "Trigger mn-samples-* docker build after release"
cc @opoudjis @ronaldtse

[2020-06-20 11:20] ronaldtse commented on #86
Agree.

[2020-06-23 16:11] opoudjis opened #87 "feature/pres_xml docker"
As discussed: the implementation of PDF XSLT is impacted by ongoing changes in the postprocessing of XML, which is initiated under https://github.com/metanorma/metanorma-standoc/issues/285. I will be updating the entire metanorma stack against the branch feature/pres_xml.

We need a version of metanorma-docker to trigger branch-specific builds of the samples repositories: Every time some trigger h

[2020-07-02 15:41] opoudjis commented on #87
I've already moved the code to pres_xml1. Am I going to need to move it back to pres_xml?

[2020-07-02 21:35] CAMOBAP commented on #87
@opoudjis thanks for the detailed explanation, could you please clarify some moments:
 1. Will we release `feature/pres_xml` gems to rubygems.org, or only keep them in git?
 2. I propose to keep `feature/pres_xml` branch for `metanorma-docker` too for consistency, is that ok?
 3. Which repos except metanorma-cli should be able to trigger a new build for docker image?
 4. Any suggestion for a name

[2020-07-03 01:31] opoudjis commented on #87
From your questions, clearly I need to migrate pres_xml1 back to pres_xml

1. This is still a development branch (it's for Alex Dyuzhev to update his XSLTs against prior to release, as the migration of functionality involved is incremental). So the gems involved will have their production, master branches released to rubygems; the pres_xml branch needs to be confined to docker
2. Sure
3. Hm. I thi

[2020-07-03 20:02] CAMOBAP commented on #86
Done

[2020-07-03 20:02] #86 closed

[2020-07-04 08:18] CAMOBAP commented on #87
@opoudjis thanks for answers, as I see https://github.com/metanorma/metanorma-cli/tree/feature/pres_xml already exists so I think I can proceed at least with PR

[2020-07-12 10:55] CAMOBAP commented on #87
@opoudjis @Intelligent2013 one more question should we trigger templates/samples repository for this new docker image?

[2020-07-12 11:32] CAMOBAP commented on #87
Ready for review:
 - https://github.com/metanorma/metanorma-cli/pull/160
 - https://github.com/metanorma/metanorma-docker/tree/feature/pres_xml

[2020-07-15 10:53] opoudjis commented on #87
Sorry! I think I'm happy to trigger the job manually. The updates to the branch may be cumulative, but I will have a notion of finishing updates in a feature before handing over to @Intelligent2013.

[2020-07-15 13:28] CAMOBAP commented on #87
one more change needs to be done
 - implement `feature/pres_xml` branches on mn-samples which will upload `presentation.xml` as artifact

[2020-07-27 05:55] CAMOBAP opened #89 "test on samples ignore wrong exit codes"
- https://github.com/metanorma/metanorma-docker/runs/911533374?check_suite_focus=true

[2020-07-27 06:12] CAMOBAP commented on #87
@me One more point to double-check https://github.community/t/how-to-trigger-repository-dispatch-event-for-non-default-branch/14470

[2020-07-30 09:08] CAMOBAP commented on #87
implemented on the master branch to run on up to date documents

[2020-08-03 13:59] opoudjis commented on #87
OK, I missed this change when I did my newest pres_xml branch update, but this means that when I manually trigger the pres_xml job on metanorma-cli, Presentation XML output will be generated?

[2020-09-01 14:08] opoudjis opened #90 "On every metanorma-docker release, re-deploy mn-samples-* repos using the latest released docker container"
Currently, when the docker-mn.yml workflow is triggered, the samples directories are tested.

However, they need to be compiled to gh-pages, not just tested: the changes in rendering with each release, for each samples directory, need to be visible externally.

Right now, because I was assuming this was already happening, I am not manually triggering samples compilation. And it is not practical fo

[2020-09-01 14:08] opoudjis commented on #90
@ronaldtse Please confirm this is needed

[2020-09-01 14:12] ronaldtse commented on #90
They are already automatically done. e.g. ITU http://metanorma.github.io/mn-samples-itu

[2020-09-01 14:13] ronaldtse commented on #90
Specifically in mn-samples-itu , it is this line that deploys it:
https://github.com/metanorma/mn-samples-itu/blob/399ae4abe680aaea9e9d84df5cf73816fd5e1077/.github/workflows/docker.yml#L53

Closing now.

[2020-09-01 14:19] CAMOBAP commented on #90
I think @opoudjis means that make sense to trigger gh-pages deploy on release too.

Currently we as part of metanorma-docker flow we do testing by cloning samples repositories and run build with docker. With this approach gh-pages stays untouched, because we doing this 'locally'

It sounds reasonable to me to trigger samples repos once new docker image pushed to docker hub

@ronaldtse how do you t

[2020-09-01 14:56] ronaldtse commented on #90
I misunderstood what @opoudjis meant (well, it was poorly described).

I agree with @CAMOBAP that once the released docker image is pushed to docker hub, we can trigger a re-deploy for all mn-sample-* repos.

@CAMOBAP I also want to be sure that a test release of metanorma-docker will not trigger the mn-samples-* repos (the last thing we want is to have those deployed repos break!)

[2020-09-01 15:00] CAMOBAP commented on #90
@ronaldtse to be on the same page by "test release of metanorma-docker" you mean `metanorma/mn` updates right?

[2020-09-01 16:40] ronaldtse commented on #90
@CAMOBAP correct, I was unclear there.

[2020-09-10 07:01] CAMOBAP commented on #90
@ronaldtse @opoudjis https://github.com/metanorma/metanorma-docker/pull/91 - done

I was wrong, previously we had this logic https://github.com/metanorma/metanorma-docker/blob/master/.github/workflows/docker-mn.yml#L36-L4

But it triggered build for any push to master, now I have restricted it to release only

[2020-09-10 07:03] ronaldtse commented on #90
Thanks @CAMOBAP !

[2020-09-12 01:44] ronaldtse opened #92 "(URGENT) metanorma-docker versions not tagged according to metanorma-cli"
1.3.7.3 is created in metanorma-cli, but metanorma-docker is only at v1.3.7.1???

This urgently needs fixing.

<img width="846" alt="Screen Shot 2020-09-12 at 9 43 59 AM" src="https://user-images.githubusercontent.com/11865/92984411-7d46dd00-f4dc-11ea-8b9b-995e8842e40d.png">

[2020-09-12 04:47] CAMOBAP commented on #92
<img width="860" alt="Screen Shot 2020-09-12 at 7 46 13 AM" src="https://user-images.githubusercontent.com/2169738/92987543-0ace0100-f4cc-11ea-8b52-30ceb5d26779.png">

https://hub.docker.com/r/metanorma/metanorma/tags - also updated

@ronaldtse looks right, isn't it?

[2020-09-12 05:01] ronaldtse commented on #92
Yes, looks right. Thanks @CAMOBAP !

[2020-09-12 05:02] ronaldtse commented on #92
However @CAMOBAP was the 1.3.7.2 tag not run because of failure? I had to manually tag v1.3.7.3 in metanorma-cli.

[2020-09-12 05:13] CAMOBAP commented on #92
@ronaldtse I can confirm this.

Let me prepare a summary on this situation how we can improve this, I will post it in https://github.com/metanorma/metanorma-cli/issues/174 because the topic perfectly fit the problem

[2020-09-12 05:13] #92 closed

[2020-09-12 07:00] ronaldtse commented on #92
Thanks @CAMOBAP !

[2020-09-13 02:45] ronaldtse commented on #80
Add `ietf` to this line: https://github.com/metanorma/metanorma-docker/blob/e5dd3597091ca95211f88b8bb38ef6b240939eb6/Makefile#L123

[2020-09-13 02:46] ronaldtse opened #93 "Unroll the flavors to multiple jobs (each in a separate container) to speed up GHA run"
https://github.com/metanorma/metanorma-docker/blob/e5dd3597091ca95211f88b8bb38ef6b240939eb6/Makefile#L121-L125

[2020-09-13 02:48] ronaldtse commented on #87
@opoudjis is this ticket still in progress? Why do we need a separate branch for presentation XML?

[2020-09-16 05:16] CAMOBAP commented on #90
Done

[2020-09-16 05:16] #90 closed

[2020-09-20 20:52] CAMOBAP commented on #93
We need to find a way how we can share docker imaged between jobs https://github.community/t/whats-the-recommended-way-to-pass-a-docker-image-to-the-next-job-in-a-workflow/17225/11

Research in progress...

[2020-10-18 10:18] CAMOBAP commented on #73
@ronaldtse please confirm if this still an actual task.

As far as I see we can simply run `metanorma setup` from the container and don't need to `VOLUME /fonts`, correct me if I'm wrong

[2020-10-19 01:44] ronaldtse commented on #73
@CAMOBAP by using the `VOLUME` command the user can override the local storage for fonts, allowing for caching locally across docker runs.

[2020-10-19 11:49] opoudjis commented on #87
As discussed for future testing of PDF generation using presentation XML updates not yet to be released to general code. But in practice, we haven't bothered, and we have permitted the HTML and PDF not to be in sync.

[2020-11-18 15:04] ghobona opened #95 "Error processing tar file when pulling new docker image"
When I run `docker pull metanorma/mn:latest`, I get this error:

[code]

I have 96 GB available on my laptop. Does the new metanorma docker image really require more than 96 GB?

[2020-11-18 23:11] ghobona commented on #95
The problem was docker and has been solved with a `docker system prune`

https://docs.docker.com/engine/reference/commandline/system_prune/

[2020-11-18 23:11] #95 closed

[2020-11-21 04:18] ronaldtse commented on #95
Thanks @ghobona !

[2020-11-29 17:07] CAMOBAP opened #96 "LoadError: cannot load such file -- rake"
For all samples
 - https://github.com/metanorma/mn-samples-gb/runs/1470358779?check_suite_focus=true

[code]

[2020-11-29 18:12] CAMOBAP commented on #73
@ronaldtse this task doesn't look actual anymore after https://github.com/metanorma/metanorma-standoc/issues/375#issuecomment-728725926

[2020-11-30 02:12] ronaldtse commented on #73
@CAMOBAP this task should be changed to allow the "font cache" (where the fonts used by Metanorma) are installed to, to be in a VOLUME.

[2020-12-01 13:01] CAMOBAP commented on #96
Asked question https://github.com/erikhuda/thor/issues/740

[2020-12-03 06:46] ronaldtse commented on #96
I don't mind but `rake` is really not part of the metanorma suite (we don't use rake as a library).

[2020-12-04 09:40] ronaldtse commented on #62
This is relevant to #73 .

[2021-04-19 07:53] ronaldtse commented on #80
We do have them now, closing.

[2021-04-19 07:53] #80 closed

[2021-04-27 11:03] odeclas opened #98 "404 in ReadMe target URL"
The alternative install instructions lead to a 404 page on the metanorma site for this page - https://www.metanorma.org/author/topics/install/

[2021-04-27 11:14] CAMOBAP commented on #98
@odeclas looks like you opened this link from

<img width="864" alt="Screen Shot 2021-04-27 at 2 13 12 PM" src="https://user-images.githubusercontent.com/2169738/116232511-e543ee00-a762-11eb-9485-09fb756b7eb3.png">

This is an outdated menu, and we will remove it

cc @ronaldtse

[2021-04-27 11:24] ronaldtse commented on #98
@odeclas @CAMOBAP thank you!

[2021-04-28 19:38] ghobona opened #99 "fontist - Aborting without proper fonts installed"
The latest version of the docker image now requires fonts to be downloaded each time.

When I execute `docker run`, it outputs the font license and then prints "[fontist] Aborting without proper fonts installed, make sure that you have set option --agree-to-terms"

So I then have to execute:

`docker run -v "$(pwd)":/metanorma metanorma/mn  metanorma compile --agree-to-terms -t ogc -x xml,html,doc

[2021-04-29 13:24] ghobona commented on #99
This issue happened when executing the following command:

`docker run -v "$(pwd)":/metanorma metanorma/mn  metanorma new -d best-practice -t ogc  -l https://github.com/metanorma/mn-templates-ogc MyBestPractice`

However the issue **did not** happen when executing the following command:

`docker run -v "$(pwd)":/metanorma metanorma/mn  metanorma new -d standard -t ogc  -l https://github.com/metano

[2021-04-29 14:14] ronaldtse commented on #99
@ghobona there is a way to cache the fonts using the Docker image:

[code]

I'm not sure why this occurs, because both document types should be using the same fonts. Let me file a bug.

[2021-04-30 04:49] CAMOBAP commented on #99
@ronaldtse @ghobona this is expected behavior if `--agree-to-terms` missing

@ronaldtse is right to cache font please use the command from the https://github.com/metanorma/metanorma-docker/issues/99#issuecomment-829274013

[2021-04-30 07:16] ghobona commented on #99
@CAMOBAP @ronaldtse Ok, thanks for the response.

[2021-04-30 07:16] #99 closed

[2021-04-30 07:48] ronaldtse commented on #99
Thanks @ghobona !

[2021-05-01 07:57] CAMOBAP commented on #96
Mysterious issue, doesn't reporoduced anymore

[2021-05-01 07:57] #96 closed

[2021-05-01 08:01] CAMOBAP commented on #73
Done already in the scope of #97

[2021-05-01 08:01] #73 closed

[2021-05-02 04:34] CAMOBAP commented on #87
Hmmm, I have doublechecked and `docker-pres_xml.yml` https://github.com/metanorma/mn-samples-cc/actions/workflows/docker-pres_xml.yml and looks like something doesn't work because it was never triggered

@opoudjis @ronaldtse could you please confirm that this task is still actual?

[2021-05-02 10:54] ronaldtse commented on #87
@opoudjis what issue do we still have here?

[2021-05-02 15:49] opoudjis commented on #87
The workflow that the separate branch for presXML proposed to used in Docker never happened, as I said in Oct 2020. This issue is no longer current, closing.

[2021-05-02 15:49] #87 closed

[2021-07-06 10:52] ronaldtse opened #100 "metanorma/mn container contains broken lutaml 0.7.3"
LutaML 0.7.3 gem is broken that it cannot be run without byebug.

The working release is 0.7.4 which is released today.

We need to rebuild the containers.

Reported by @ribose-jeffreylau

[2021-07-06 18:44] CAMOBAP commented on #100
The rebuild will be triggered once https://github.com/metanorma/metanorma-docker/pull/101 merged

[2021-07-07 08:47] CAMOBAP commented on #100
Done https://github.com/metanorma/metanorma-docker/runs/3006984970?check_suite_focus=true#step:4:5760

@ronaldtse @ribose-jeffreylau which workflow can I restart to make sure that it works as expected?

[2021-07-07 09:18] ribose-jeffreylau commented on #100
@CAMOBAP Try this: https://github.com/CalConnect/csd-transcription-systems/actions/runs/1006681162

[2021-07-07 10:02] ribose-jeffreylau commented on #100
It seems to be fixed.  Thanks @CAMOBAP !

[2021-07-07 10:02] #100 closed

[2021-07-20 19:57] #89 closed

[2021-07-23 11:29] CAMOBAP commented on #62
Already done

[2021-07-23 11:29] #62 closed

[2021-07-24 11:44] CAMOBAP commented on #98
Done

[2021-07-24 11:44] #98 closed

[2021-08-06 10:57] ghobona opened #103 "community-practice doctype not working on docker"
`community-practice` is supposed to be a valid doctype on the OGC Metanorma template, according to https://www.metanorma.org/author/ogc/authoring/

However, when I run this command

`docker run -v "$(pwd)":/metanorma metanorma/mn  metanorma new -d community-practice -t ogc  -l https://github.com/metanorma/mn-templates-ogc folder_for_community_practice`

I get the following error message.

[code]

[2021-08-25 07:15] ronaldtse commented on #93
@CAMOBAP isn't GHA's matrix functionality perfect for this? Then we can separate failures by the flavor as well.

[2021-08-27 01:43] ronaldtse opened #109 "Add `dive` as a container CI step"
https://github.com/wagoodman/dive

[2021-08-27 03:06] ronaldtse opened #112 "Properly treat secrets in Dockerfile"
https://docs.docker.com/develop/develop-images/build_enhancements/

https://stackoverflow.com/questions/55789409/how-to-unset-env-in-dockerfile/55789497

[2021-08-28 06:59] CAMOBAP opened #115 "Tag functionality doesn't work anymore"
https://github.com/metanorma/metanorma-docker/runs/3448129073?check_suite_focus=true#step:7:17

cc @ronaldtse

[2021-08-28 07:12] CAMOBAP commented on #115
Looks like it happens after https://github.com/metanorma/metanorma-docker/commit/b584782d75278ed412c62565c11f0f07df03f149

To be continued...

[2021-08-28 07:23] ronaldtse commented on #115
The Makefile has to be updated, but I think the right solution is to revert the removal of squash. The docker build squash option flattens the image completely, but we don’t really want that. Let me do the revert there.

[2021-08-28 08:07] CAMOBAP commented on #115
ok

I think the issue why it fails because we don't do `tag` before `push`

@ronaldtse will it be ok, if I will push this tiny fix to make CI green?

[2021-08-28 09:08] ronaldtse commented on #115
Of course! Please proceed.

[2021-08-28 14:39] CAMOBAP commented on #109
Done

[2021-08-28 14:39] #109 closed

[2021-08-28 14:39] CAMOBAP commented on #112
Done

[2021-08-28 14:39] #112 closed

[2021-08-28 14:40] CAMOBAP commented on #115
Fixed, rest will be addressed with #113

[2021-08-28 14:40] #115 closed

[2021-10-11 15:38] ronaldtse opened #117 "Docker Hub no longer has the latest tagged versions"
https://hub.docker.com/r/metanorma/mn/tags?page=1&ordering=last_updated
<img width="974" alt="Screenshot 2021-10-11 at 11 37 57 PM" src="https://user-images.githubusercontent.com/11865/136817826-c82554ee-e73a-416e-8f9c-b66d9b1b5440.png">

We're missing:
* 1.4.15
* 1.4.16
* 1.4.17
* 1.4.18 (the 2 hours ago one)

[2021-10-11 16:16] #117 closed

[2021-10-11 16:21] ronaldtse commented on #117
Thanks @CAMOBAP !

[2021-11-16 00:14] opoudjis opened #118 "Fontist checksum error?"
https://github.com/metanorma/metanorma-docker/runs/4212213074?check_suite_focus=true

[2021-11-16 08:02] CAMOBAP commented on #118
Asked @alexeymorozov for help

[2021-11-16 08:21] alexeymorozov commented on #118
Updated checksum, it should work now. Further work would be done in fontist/formulas#109

[2021-11-16 08:29] ronaldtse commented on #118
Thanks!

[2021-11-16 22:55] ronaldtse commented on #118
Confirm fixed. Thanks!

[2021-11-17 12:06] archaeogeek opened #119 "metanorma compile fails with sassc error"
Hello, this is my first foray into metanorma and I've hit a problem. I'm running the docker container on Ubuntu 20.04, and am running the following command:

`docker run -it -v "$(pwd)":/metanorma/ -w /metanorma metanorma/mn:latest metanorma compile -t generic -x html myadoc.adoc`

This fails with the following error:
[code]

However if I run the following instead:
`docker run -it -v "$(pwd)":/met

[2021-11-18 00:06] ronaldtse commented on #119
Thanks @archaeogeek for raising this issue.

By any chance you have a "Gemfile" in the document folder? Typically a user should not need to do anything with the "sassc" gem.

@CAMOBAP can you take a look at this?

[2021-11-18 06:16] CAMOBAP commented on #119
Last ci looks good, @ronaldtse you are right, it's critical to check `Gemfile` here

@archaeogeek could you please share your `Gemfile`?

[2021-11-18 08:34] CAMOBAP opened #120 "gzip: stdin: not in gzip format"
- https://github.com/metanorma/metanorma-docker/actions/runs/1475143689

[2021-11-18 10:46] archaeogeek commented on #119
Thanks for the prompt response. I should have said initially that I am following the "simple adoption" approach from https://www.metanorma.org/builder/topics/simple-adoption/ and all I have is a `metanorma.yml` file, which is based almost exactly on the default one listed:
[code]
Then in my asciidoc file I just have `:customize: metanorma.yml` under the title.

The Simple Adoption approach with th

[2021-11-18 11:09] CAMOBAP commented on #119
@archaeogeek thanks for information

@ronaldtse to be honest I didn't try such scenario of using metanorma. Are it still valid one, if so it looks like documentation is outdated because we don't use `scss` in production as far as I remember, could you please confirm?

[2021-11-19 13:47] ghobona opened #122 "(URGENT) Provide instructions for compiling documents on MS Windows"
Currently we use this command to compile on Linux and MacOS machines.

`docker run -v "$(pwd)":/metanorma -v ${HOME}/.fontist/fonts/:/config/fonts  metanorma/mn  metanorma compile --agree-to-terms -t ogc -x xml,html,doc document.adoc`

The command above does not work on MS Windows.

Cc: @sergioTaleisnik

[2021-11-20 05:03] ronaldtse commented on #122
@CAMOBAP can you please help check? Thanks

[2021-11-20 09:53] ronaldtse commented on #122
@ghobona @sergioTaleisnik have you tried the Docker-Windows instruction here?

https://www.metanorma.org/install/docker/
<img width="763" alt="Screenshot 2021-11-20 at 5 53 10 PM" src="https://user-images.githubusercontent.com/11865/142722025-210f0a51-bcbe-48a6-91cf-2bcfdfcfa90e.png">

[code]

[2021-11-20 09:54] ronaldtse commented on #122
Actually the command on this page works better:

https://www.metanorma.org/author/topics/building/font-management/

<img width="797" alt="Screenshot 2021-11-20 at 5 54 13 PM" src="https://user-images.githubusercontent.com/11865/142722069-abf6dd81-cf9b-4d04-b13e-609d18f0d2af.png">

[2021-11-22 07:37] ghobona commented on #122
Thanks @ronaldtse .

@sergioTaleisnik Please try out the command and let us know if it worked on your machine.

[2021-11-27 08:10] CAMOBAP commented on #119
@ronaldtse I'm not sure how to update this documentation, we need to report task about it in https://github.com/metanorma/metanorma.com

@opoudjis maybe you can help and suggest some workaround here? maybe we can just drop `htmlstylesheet`, `standardstylesheet`, `wordstylesheet`?

[2021-11-29 07:25] opoudjis commented on #119
Dear everybody,

The gem sassc is used to compile SCSS stylesheets into CSS stylesheets; SCSS allows us to inject variables (such as the names of fonts) into the stylesheet.

When we release standardised gems, part of our release involves compiling SCSS into CSS. Because we wanted to remove the dependency of Metanorma on sassc *by default*, when we compile the SCSS into CSS, we remove the need for

[2021-11-29 08:59] opoudjis commented on #119
@CAMOBAP I can't really help with docker, because I don't know my way around it. @archaeogeek the simplest thing for you to do, rather than try and get sassc to work, is to rename the *scss stylesheets as *css stylesheets, and replace any instances of variables (e.g. `font-family:$monospacefont;`) with full values.

[2021-11-29 09:57] CAMOBAP commented on #119
@opoudjis thanks a lot for workaround, this is more then enough

@archaeogeek could you please follow suggested workaround, or please let us know if this isn't option for you.

@ronaldtse I have two notes:
 - [ ] we need to report a ticket for https://github.com/metanorma/metanorma.com/issues about documentation update. I cannot do this because I don't know exactly how it should be updated
 - [ ]

[2021-11-29 12:53] archaeogeek commented on #119
@opoudjis / @CAMOBAP Thanks for pursuing this. I just wanted to clarify something- if I am using the `metanorma.yml` approach and docker, when you say "rename the *scss stylesheets as *css stylesheets", presumably you mean making the changes inside the docker container and not simply changing the references to them in my local yml file?

[2021-11-29 12:58] CAMOBAP commented on #119
@archaeogeek as fat as I understood `metanorma.yml` comes from your host machine, so it should be not a problem to modify it.

[2021-11-29 14:38] opoudjis commented on #119
@CAMOBAP I've already done the documentation update: https://github.com/metanorma/metanorma.org/commit/41e2cde0c7633940112f1b5e2be15cdcdd749ce6

[2021-11-29 15:34] CAMOBAP commented on #119
@opoudjis thanks a lot, BTW how do you think should we include sass into our docker image?

[2021-12-03 12:11] archaeogeek commented on #119
Hello, it has taken me a while to figure out how to do it, but I have succeeded in trying the work-around of renaming the `*.scss` files to `*.css` inside the docker container, and that does seem to fix my problem.

For future reference, I did the following (there might be a better approach but it worked):

1. Get a running container that would stay persistent with my working directory mounted, an

[2021-12-06 09:10] ronaldtse commented on #119
@archaeogeek thank you so much for the update and for charging through. We will update our documentation to reflect your experience and incorporate the necessary changes in our next release to make it easier. Thanks!

[2021-12-06 13:00] opoudjis commented on #119
As for including sassc in docker... i think the answer is yes, but I don't remember why sassc was considered harmful to begin with. @ronaldtse ?

Because I don't understand docker, could I ask that @CAMOBAP do the documentation update? I'm assuming this needs to be a new page under https://www.metanorma.org/builder/ , rather than part of https://www.metanorma.org/install/docker/ , but I'm actually

[2021-12-06 13:20] ronaldtse commented on #119
1. sassc requires the user to install a package that is not commonly available on many platforms, and compilation often fails on those platforms.
2. sassc is also not necessary to be run since the user is only including a static CSS file in all flavors.

@CAMOBAP can you please help update documentation? Thanks.

[2021-12-17 05:18] ronaldtse opened #123 "Build Linux/arm64 version of containers"
Using docker's buildx:
* GitHub Action: https://github.com/docker/setup-buildx-action
* https://carlosedp.medium.com/cross-building-arm64-images-on-docker-desktop-254d1e0bc1f9
* https://community.arm.com/arm-community-blogs/b/tools-software-ides-blog/posts/getting-started-with-docker-on-arm

[2021-12-19 15:14] CAMOBAP commented on #119
@ronaldtse https://github.com/metanorma/metanorma.org/pull/535 done

[2021-12-19 15:14] #119 closed

[2022-01-11 03:21] ronaldtse opened #125 "Metanorma compilation shows `[relaton] Error: backend relaton_3gpp not present`"
I'm getting this error when compiling a document.
[code]

[2022-01-11 03:23] ronaldtse opened #126 "Java crash/hang on x86_64 container running on Apple M1 (was: Crash at Jing when using metanorma/mn image)"
Is this a Jing problem or a JRE problem?

This document is `mn-samples-ogc/sources/style-sample`.

[code]

[2022-01-11 03:29] ronaldtse commented on #126
This exact issue is also reported here:
* https://github.com/adoptium/adoptium-support/issues/211
* https://github.com/adoptium/temurin-build/issues/893

Appears to be an OpenJDK problem with Rosetta running on Apple Silicon (I'm on it).

I re-ran with
[code]

And it worked.

I'm not sure if it's a one-off or repeatable issue.

[2022-01-11 04:00] ronaldtse commented on #126
It is a one-off. And it's somewhat random.

The java process runs but then hangs and runs seemingly forever (I clearly did not wait **that** long).

Apparently this is a known issue with x86-64 Docker images crashing Java when run through Rosetta on M1:
* https://stackoverflow.com/questions/68975743/docker-image-runs-on-intel-mac-but-not-m1-mac
* https://github.com/docker/for-mac/issues/6060

The

[2022-01-11 04:00] ronaldtse commented on #126
Now I remember -- I just upgraded Docker this morning. Prior to this update, it worked.

[2022-01-11 04:01] ronaldtse commented on #126
Relates to #123

[2022-01-11 07:57] ronaldtse commented on #125
@andrew2net do you know why this is the case?

[2022-01-11 11:02] opoudjis opened #127 "Docker failing to run"
Possibly failing to clone git://github.com/brucemiller/LaTeXML.git

https://github.com/metanorma/metanorma-docker/runs/4773975440?check_suite_focus=true

[2022-01-11 12:04] andrew2net commented on #125
@ronaldtse how to reproduce the error? Is relaton-3gpp installed?

[2022-01-11 12:54] ronaldtse commented on #127
This is because of
https://github.com/metanorma/metanorma-docker/blob/e52afebf465636fc810263da02c4e3f2edf34070/ubuntu.sh#L14

This brucemiller/LaTeXML@9a0e7dc5 commit is no longer around.

[2022-01-11 13:04] ronaldtse commented on #127
@CAMOBAP but do we still need to include LaTeXML? If not we should remove that?

[2022-01-11 13:05] CAMOBAP commented on #127
strange because it is available `https://github.com/brucemiller/LaTeXML/commit/9a0e7dc5`

[2022-01-11 15:44] CAMOBAP commented on #127
good question, recently we discussed https://github.com/metanorma/metanorma-cli#external-dependencies and we don't depend on it

fix in the progress

[2022-01-11 17:14] CAMOBAP commented on #127
@opoudjis @ronaldtse

Fixed, should I retag `v1.5.6pre`?

[2022-01-14 07:04] ronaldtse commented on #127
Yes please, thanks!

[2022-01-14 07:21] CAMOBAP commented on #127
@ronaldtse probably it's not make sense because v1.5.6 passed successfully

[2022-01-14 21:45] #127 closed

[2022-01-28 03:59] ronaldtse commented on #125
If you run a document through Metanorma's docker container, you will see it. You can find instructions to run the container here: https://www.metanorma.org/install/docker/

[2022-01-30 12:52] CAMOBAP commented on #120
Fixed after idnits removed

[2022-01-30 12:52] #120 closed

[2022-02-11 03:01] ronaldtse opened #130 "Update README about Inkscape now included"
@CAMOBAP can you update the README about this too? Thanks! https://github.com/metanorma/metanorma-docker#whats-included

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-docker/issues/129#issuecomment-1035839090_

[2022-02-11 03:24] ronaldtse commented on #125
Maybe this has to do with "relaton_3gpp" vs "relaton-3gpp" name?

[2022-02-11 04:56] ronaldtse commented on #126
@CAMOBAP on my machine, I am running latest Docker (4.4.2), and still have this same issue. The container hangs at:

[code]

It just hangs and never finishes.

Did you use the same command I showed?

[2022-02-11 05:50] ronaldtse commented on #126
@CAMOBAP in any case using the buildx action will resolve this problem. Can we proceed? Thanks.

[2022-02-11 07:01] ronaldtse commented on #126
When using this command I got the same failure:

[code]

[code]

[2022-02-11 07:04] CAMOBAP commented on #126
@ronaldtse to be on the same page, which document have you tried?

[2022-02-11 07:05] ronaldtse commented on #126
@CAMOBAP .

[2022-02-11 07:06] ronaldtse commented on #126
Again this only happens on Apple M1, running a linux/amd64 container (because we don't have linux/arm64 container)

[2022-02-11 07:13] ronaldtse commented on #130
Fixed in cb2d9fc

[2022-02-11 07:13] #130 closed

[2022-02-11 07:14] ronaldtse opened #131 "Update README to remove LaTeXML mention"

[2022-02-11 07:58] #131 closed

[2022-02-11 07:58] ronaldtse opened #132 "Rename branch to main"

[2022-02-11 07:58] #132 closed

[2022-02-11 10:37] andrew2net commented on #125
@ronaldtse the name 'relaton_3gpp` is correct. It seems an error occurs when the gem is required. It doesn't happen on my comp so we need to explore the error with Docker.
I'll add a backtrace and an error message in the relaton gem to the log. So we can see what happened when the relaton-3gpp loading.

[2022-02-11 11:13] ronaldtse commented on #125
Here's the reason for the failure:

[code]

Looks like the "net/ftp" module is missing.

I'm on Ruby 3.1.

[2022-02-11 12:27] andrew2net commented on #125
I supposed the `net-ftp` gem should be installed by default. Semms it isn't in Ruby 3.1. Added the dependency to the relaton-3gpp gemspec.

[2022-02-11 13:31] ronaldtse commented on #125
@andrew2net can we only require net/ftp gem for a Ruby version that doesn’t have it? Not sure how the gemspec does that.

[2022-02-11 16:15] ronaldtse commented on #125
@andrew2net there's a misunderstanding here.

Ruby < 3.0 includes `net/ftp` as an "internal gem", so there is no need to include it in gemspec.

Ruby >= 3.0 does not include the 'net/ftp' gem at all, so we need it in gemspec.

I'm asking whether there is a way to specify a dependency depending on the Ruby version. I just don't know what the behavior would be if the Ruby version is < 3.0 but the ge

[2022-02-11 17:00] andrew2net commented on #125
@ronaldtse if dependency already exists then gemspec does nothing. We don't need to do anything to specify dependency depending on the Ruby version.

[2022-02-12 06:43] ronaldtse commented on #125
@andrew2net agreed, and I tried installing the `net-ftp` gem on 2.7.3, which just installs the latest one. No problem then.

I also updated the bundle and the error is indeed fixed. Thanks.

[2022-02-12 06:43] #125 closed

[2022-03-11 05:24] ronaldtse opened #133 "Upgrade Docker container Ruby to 3.1"
There is a huge speed difference with Ruby 2.6

[2022-03-12 03:56] ronaldtse opened #134 "Push to GitHub Container Registry in addition to Docker Hub"

[2022-03-13 18:46] CAMOBAP commented on #122
I hope the issue was resolved, if not, please reopen

[2022-03-13 18:46] #122 closed

[2022-03-14 11:25] CAMOBAP commented on #134
At the moment technically there is no issue to migrate docker/build-and-push action (which is used already in https://github.com/metanorma/metanorma-docker-private/)

I think for troubleshooting it will be nice to have Makefile also, but also will be nice to not maintain both Makefile and docker.yml separately

I just wondering is it possible to keep labels/tags in some config to simplify Makefile

[2022-03-14 11:47] ronaldtse commented on #134
I agree that the Makefile is too complex -- I wrote the original version and @ribose-jeffreylau improved on it.

I suggest we just get rid of the Makefile for now, and re-build a Makefile after we have a good docker.yml.

[2022-03-14 11:49] ronaldtse commented on #134
In addition, the jobs like #133 take a long time to validate. We should probably use a GHA matrix to expand on the flavors to test the docker container, i.e. build it, and then run the tests of multiple flavors on the built container.

[2022-03-14 15:10] #133 closed

[2022-03-16 21:22] CAMOBAP commented on #134
Waiting for CI

[2022-03-17 01:16] ronaldtse commented on #134
In the latest build (https://github.com/metanorma/metanorma-docker/actions/runs/1995185481), it's still only pushing to docker.io not gchr.io. Notice that on the front page of this repo there is still no listed package:
<img width="212" alt="Screenshot 2022-03-17 at 9 15 46 AM" src="https://user-images.githubusercontent.com/11865/158717339-d32278f5-4571-4f6a-9114-8f44daba9de1.png">

In order to al

[2022-03-17 01:35] ronaldtse opened #139 "Set `org.opencontainers.image` labels, reduce duplicated custom labels on container"
We used to add the following labels to the container because there wasn't a standardized way of tracing container provenance.

[code]

Now that there is the `org.opencontainers.image` way, we can remove the following labels:
[code]

We also should set the other allowed labels:
[code]

[2022-03-17 01:51] ronaldtse opened #140 "Upgrade container to use Ruby 3.1.1"

[2022-03-17 01:56] ronaldtse commented on #126
This should be fixed once #123 is completed.

[2022-03-17 20:46] CAMOBAP commented on #134
@ronaldtse last push was successful, but I cannot see containers probably because of visibility settings. May I ask you to have a look?

[2022-03-17 22:23] CAMOBAP commented on #140
Done

[2022-03-18 02:32] #140 closed

[2022-03-18 02:56] ronaldtse commented on #134
Yes it worked, and permissions now fixed. Thanks @CAMOBAP !

<img width="464" alt="Screenshot 2022-03-18 at 10 56 11 AM" src="https://user-images.githubusercontent.com/11865/158928852-0efca692-9226-4398-ba11-eb8b3b9fb477.png">

[2022-03-18 02:56] #134 closed

[2022-03-22 08:37] ronaldtse opened #142 "Add Alpine version of container (linux/amd64)"

[2022-03-22 18:51] ronaldtse commented on #93
This workflow is a perfect example on how we can build the image, upload as artifact (with minimal `retention-days`), then run tests on the containers, before releasing them.

https://github.com/docker/build-push-action/blob/master/docs/advanced/share-image-jobs.md

[2022-03-22 18:54] ronaldtse commented on #93
And this is building multiple platforms at the same time:
https://github.com/docker/build-push-action/blob/master/docs/advanced/multi-platform.md

[2022-03-23 05:40] ronaldtse opened #146 "Run `fontist update` after installing Fontist"
Right now we're not running fontist update. We should store the formulas inside the container since it is our work that can be embedded.

[2022-03-23 05:50] ronaldtse opened #147 "Use multi-stage Dockerfile for all containers (to replace squash)"
According to BuildKit:

https://github.com/docker/buildx/blob/1ca30a58c2f25a7f72a2fdb5d62e82bf1e2fa37c/commands/build.go#L411

[2022-03-23 05:51] ronaldtse commented on #147
The latest containers in #145 are 2.12 GB each, which is a bit excessive.

[2022-03-23 06:30] ronaldtse opened #148 "Rename docker container tags"
We should have 1 docker container (`metanorma`) and use different labels to distinguish versions and the base images.

* `metanorma`, with labels:
   * `ruby-latest`, `ruby-1.5.12`, ...
   * `ruby-edge-latest`, `ruby-edge-1.5.12`, ...
   * `ubuntu-latest`, `ubuntu-1.5.12`, ...
   * `ubuntu-edge-latest`, `ubuntu-edge-1.5.12`, ...
   * `alpine-latest`, `alpine-1.5.12`, ...
   * `alpine-edge-latest`,

[2022-03-23 09:17] #93 closed

[2022-03-23 12:03] ronaldtse commented on #139
Done in #145

[2022-03-23 12:03] #139 closed

[2022-03-24 05:05] #148 closed

[2022-04-02 07:28] ronaldtse commented on #126
This issue cannot be fixed -- this is a Docker issue with running x86_64 containers on Apple M1. Closing.

[2022-04-02 07:28] #126 closed

[2022-05-10 02:17] opoudjis opened #152 "Failures of docker to build (force downgrade of Ruby to 3.0 due to Nokogiri 1.13 entity issue with Relaton)"
https://github.com/metanorma/metanorma-docker/runs/6362390329?check_suite_focus=true

[2022-05-10 02:33] ronaldtse commented on #152
I'm thinking that we no longer need the development versions of the containers, especially since they are not properly tested and that the release flow now is much more stable than before.

Thoughts @CAMOBAP ?

[2022-05-10 06:18] CAMOBAP commented on #152
Yep, they are not properly tested but as far as I understand they may be useful during testing some in features in-development (between releases). But personally, I never used them

@ronaldtse @opoudjis (or maybe someone else in the team) have you used `mn-*` in some cases?

[2022-05-10 07:35] ronaldtse commented on #152
@CAMOBAP we only used them as hotfixes for immediate problems that cannot wait for 2 weeks until the next release cycle -- we do not currently have a "hotfix" branching practice, @opoudjis is not a fan of it.

The problem now is that the mn-* are failing.

[2022-05-10 08:17] CAMOBAP commented on #152
Fixed push-tag workflow (to ignore branch)
mn containers removed from CI

Once passed I will retag

[2022-05-10 10:37] CAMOBAP commented on #152
@opoudjis @ronaldtse can you confirm that all required gems are released?

[code]

[2022-05-10 15:29] CAMOBAP commented on #152
Nogokiri prebuilt gems have a restriction: `< 3.1.DEV` https://rubygems.org/gems/nokogiri/versions/1.12.5-x86-linux

So it looks like we need to migrate to nokogiri 1.13. It have `>= 2.6, < 3.2.DEV` which looks acceptable for us

[2022-05-10 15:32] CAMOBAP commented on #152
@opoudjis @ronaldtse @andrew2net is that ok to upgrade nokogiri version to 1.13?

[2022-05-10 15:51] CAMOBAP commented on #152
@andrew2net it sounds like an issue in nokogiri, is there some ticket reported for nokogiri?

[2022-05-10 15:54] ronaldtse commented on #152
Definitely.

[2022-05-10 15:54] ronaldtse commented on #152
@andrew2net Is this something Relaton can fix?

[2022-05-10 16:23] ronaldtse commented on #152
@CAMOBAP can we just downgrade Ruby to 3.0? Without a successful Docker integration test we can't release metanorma-cli, which means that the gem stack is broken (I can't compile a document too).

[2022-05-10 16:35] CAMOBAP commented on #152
Yep it's done locally

Docker will fail with

[code]

Should we add our private Github Packages, just for test `1.5.15.pre.alpha` ?

[2022-05-10 17:20] ronaldtse commented on #152
@CAMOBAP we should not have metanorma-nist in metanorma-cli, that was removed in https://github.com/metanorma/metanorma-cli/issues/277

[2022-05-13 08:52] CAMOBAP commented on #152
Done

[2022-05-13 08:52] #152 closed

[2022-05-30 05:39] CAMOBAP commented on #123
Done some time ago https://github.com/metanorma/metanorma-docker/actions/runs/2309875747

[2022-05-30 05:39] #123 closed

[2022-06-07 15:59] CAMOBAP commented on #147
Done

[2022-06-07 15:59] #147 closed

[2022-06-07 20:22] CAMOBAP commented on #146
Done

[2022-06-07 20:22] #146 closed

[2022-06-21 16:23] opoudjis opened #157 "Docker job not initiated"
Sigh....

https://github.com/metanorma/metanorma-docker/runs/6988230623?check_suite_focus=true

[2022-06-21 16:29] ronaldtse commented on #157
@opoudjis I doubt anyone touches the gemspec...

[2022-08-13 17:54] ronaldtse opened #158 "(URGENT) Build failed on release of 1.5.21"
https://github.com/metanorma/metanorma-docker/actions/runs/2819352810

This failure is blocking usage of the metanorma container here:
https://github.com/Spatial-Web-Foundation/SWF-Corpus_and_IEEEP2874-D2/issues/160

Specifically, the "alpine, itu" job failed.

[2022-08-13 19:22] CAMOBAP commented on #158
@ronaldtse there are clearly issues with tag updates:
 - latest, was updated 1 month ago https://hub.docker.com/layers/metanorma/metanorma/metanorma/latest/images/sha256-ae6bf7f13858b61afc8dbcc4bb2e33a7dd786d76c28d23b8f9d184627ecf7407?context=explore
 - main, was updated 2 months ago

Researching in deep how https://github.com/metanorma/metanorma-docker/blob/main/.github/workflows/build-push.yml#L

[2022-08-14 04:09] ronaldtse commented on #158
It looks like the "push" step now works but the push for alpine failed:

https://github.com/metanorma/metanorma-docker/runs/7821301262?check_suite_focus=true

[code]

[2022-08-14 04:10] ronaldtse commented on #158
`latest` should work:
https://hub.docker.com/r/metanorma/metanorma/tags
<img width="920" alt="Screen Shot 2022-08-14 at 12 10 48 PM" src="https://user-images.githubusercontent.com/11865/184522127-668de766-14b3-453f-ae43-a09d37ad8f4f.png">

[2022-08-14 07:45] ronaldtse commented on #158
The rerun of "alpine, itu" passed, but failed at "metanorma alpine push".

The rerun of "metanorma alpine push" finally worked.

The job is now completed and back to green. Closing for now.

[2022-08-14 07:45] #158 closed

[2022-08-26 15:13] CAMOBAP opened #159 "metanorma-alpine stucked on "#15 11180.4 Resolving dependencies........""
https://github.com/metanorma/metanorma-docker/actions/runs/2924154629

I have restarted CI several times, no success, still looks like CI issues I will try retag

[2022-08-27 12:24] CAMOBAP commented on #159
There is no loop during build on local machine `docker buildx build . -f Dockerfile.alpine --build-arg METANORMA_IMAGE_NAME=metanorma-alpine -o type=docker --tag metanorma/metanorma:local --platform linux/arm64`

Still investigating...

[2022-08-27 13:03] CAMOBAP commented on #159
Re-tagged to exclude GHA infrastructure issues https://github.com/metanorma/metanorma-docker/actions/runs/2939331625

[2022-08-29 07:30] CAMOBAP commented on #159
Looks like a known issue https://github.com/rubygems/rubygems/issues/5871 temporally downgraded bundler to 2.3.20

[2022-08-29 09:53] CAMOBAP commented on #159
Merged

[2022-08-29 09:53] #159 closed

[2022-09-08 03:17] ronaldtse opened #162 "(URGENT) Separate Alpine jobs to not block release using Ubuntu"
The Alpine branch of the docker images are rather unstable, which is currently blocking release on Ubuntu.

The Alpine code is still somewhat experimental given that Ruby/Rubygems only recently addressed the musl issue in binary gems, we should keep this Alpine release workflow separate and not blocking the Ubuntu release.

[2022-09-08 05:12] CAMOBAP commented on #162
Done

[2022-09-08 05:12] #162 closed

[2022-09-09 04:35] ronaldtse opened #163 "Publish the latest stable (i.e. tested) image to `latest` tag"
Right now the latest image pushes go to `main`, etc, but there is no `latest`.

e.g.
[code]

But:

[code]

[2022-09-09 04:35] ronaldtse commented on #163
From @CAMOBAP :

[2022-09-09 04:54] CAMOBAP commented on #163
metanrma-cli@1.6.1 initiated

[2022-09-09 13:37] CAMOBAP commented on #163
Done https://hub.docker.com/layers/metanorma/metanorma/latest/images/sha256-c5084460ea9faa473455602c6aadbcc2fa5f647b732ff0f5b01e97b8e575d715?context=explore

[2022-09-09 13:37] #163 closed

[2022-09-15 09:52] ronaldtse opened #164 "(URGENT) Broken docker images when running GHA due to pngcheck"
Example: https://github.com/metanorma/iso-10303-2/actions/runs/3059351763/jobs/4936626413

When the docker image was built, pngcheck 0.2.5 was used but it was not compilable on Linux without the correct tooling. pngcheck 0.2.6 fixed this but this image doesn't include it and does not work.

We need to urgently re-publish the Metanorma Docker image for this particular metanorma-cli version.

[2022-09-15 09:52] ronaldtse commented on #164
This is the workaround we had to do for it https://github.com/metanorma/SWF-Corpus_and_IEEEP2874-D2/pull/9

[2022-09-15 19:08] CAMOBAP commented on #164
Restarted pipeline for [v1.6.1](https://github.com/metanorma/metanorma-docker/tree/v1.6.1) it should bundle install to include latest pngcheck gem

I will doublecheck in logs

[2022-09-15 22:06] CAMOBAP commented on #164
caching temporally disabled to release updated docker images

[2022-09-16 08:03] CAMOBAP commented on #164
New docker image released with updated pngcheck.

To resurrect caching, maybe we can do `bundle install` before `docker build` and them `COPY Gemfile.lock` to image so we will be able to reuse previous cached layers and `bundle install` will always be up-to-date

@ronaldtse @abunashir @opoudjis any thoughts on this?

[2022-09-16 08:14] ronaldtse commented on #164
@CAMOBAP that's perfect. Thank you!

[2022-09-16 08:18] #164 closed

[2022-10-26 09:59] opoudjis opened #166 "Uncommited files error"
https://github.com/metanorma/metanorma-docker/actions/runs/3316841691/jobs/5479082953#step:10:20

[2022-10-26 10:05] CAMOBAP commented on #166
The same error https://github.com/metanorma/metanorma-docker-private/issues/14